﻿@{
    ViewBag.Title = "Thiết lập";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_layout.cshtml";
    int index = 1;
}
@model List<MainProject.Core.Setting>


<!-- CSS files of Setting Index page -->
<!-- DataTables -->
<link rel="stylesheet" href="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.css")">


<!-- JS files of setting index page -->
<!-- DataTables -->
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.min.js")"></script>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Thiết lập
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a href="#">Cài đặt</a></li>
        <li class="active">Thiết lập</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-xs-12">
            <div class="box">
            <div class="box-body">
                <p>
                    @Html.Raw(TempData["message"])
                </p>
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Từ khóa</th>
                            <th>Giá trị</th>
                            <th>Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach( var item in Model)
                        {
                            string tagTr = "";
                            if (index % 2 == 0)
                            {
                                tagTr = "even";
                            }
                            else
                            {
                                tagTr = "odd";
                            }
                            <tr class="@tagTr">
                                <td>@index</td>
                                <td>@item.Key</td>
								@if (item.Key == "EmailAccountPassword")
								{ 
									<td>&#x26AB;&#x26AB;&#x26AB;&#x26AB;&#x26AB;&#x26AB;</td>
								}
								else
								{
									<td>@item.Value</td>
								}
                                <td>
                                   <a href="/Admin/SettingAdm/Edit/@item.Id" class=".btn.btn-app" title="Chỉnh sửa">
                                       <i class="fa fa-edit"></i>
                                   </a> 
                                </td>
                            </tr>
                                index++;
                        }
                    </tbody>
                </table>
            </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
