﻿@using MainProject.Service.Models.ViewModel.ShopppingCart
@using MainProject.Core.Enums
@using MainProject.Framework.Helper
@model MainProject.Service.Models.Header.HeaderViewModel
@{
    Layout = null;
    List<ShoppingCartItem> shoppingCartItems = (List<ShoppingCartItem>)Session[MainProject.Framework.Constant.SessionKey.ShoppingCartItems];
    var cartItemsCount = shoppingCartItems != null ? shoppingCartItems.Select(x => x.ItemCount).Sum() : 0;
}
<header class="header">
    <div class="top-head">
        <div class="container">
            <div class="row">
                <div class="col-xs-7 col-lg-7 brand pull-left hidden-md-down">
                    <i class="fa fa-megaphone fa-primary-color"></i>
                    <a href="" class="random-51874 " onclick="ga('send', 'event', 'header', 'click top bar', 'breaking news', {'nonInteraction': 1});">@ResourceHelper.GetResource(ResourceKeyCollection.TitleHeader, CultureHelper.GetCurrentLanguage())</a>
                </div>
                <div class="col-xs-12 col-lg-5">
                    <nav class="nav nav-inline social nav-top">
                        <i class="fa fa-phone fa-primary-color"></i><span class="hidden-xs">@ResourceHelper.GetResource(ResourceKeyCollection.HotLineTitle, CultureHelper.GetCurrentLanguage()): </span>
                                                                    <a href="tel:@ResourceHelper.GetResource(ResourceKeyCollection.HotLineContent, CultureHelper.GetCurrentLanguage()):" class="btn-link" onclick="ga('send', 'event', 'header', 'click top bar', 'hotline', {'nonInteraction': 1});">@ResourceHelper.GetResource(ResourceKeyCollection.HotLineContent, CultureHelper.GetCurrentLanguage()):</a> (HCM) - <a href="tel:@ResourceHelper.GetResource(ResourceKeyCollection.HotLineContent, CultureHelper.GetCurrentLanguage()):" class="btn-link" >@ResourceHelper.GetResource(ResourceKeyCollection.HotLineContent, CultureHelper.GetCurrentLanguage())</a>
                        @{
                            foreach (var item in Model.ListLanguage)
                            {
                                <img src="@item.Image" onclick="SetCurrentLanguage('@item.LanguageKey')" title="@item.LanguageName" />
                            }
                        }
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End top-header-->
    <div class="main-head">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-2 logo">
                    <h1>
                        <a title="@ResourceHelper.GetResource(ResourceKeyCollection.AltLogo, CultureHelper.GetCurrentLanguage())" href="/" onclick="ga('send', 'event', 'header', 'click logo', 'logo', {'nonInteraction': 1});">@ResourceHelper.GetResource(ResourceKeyCollection.AltLogo, CultureHelper.GetCurrentLanguage())</a>
                    </h1>
                    <button type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler hidden-md-up collapsed"><span>x</span><span>☰</span></button>
                </div>
                <div class="col-xs-12 col-md-10">
                    <ul class="list-inline main-values">
                        <li class="hidden-xs"><i class="fab fa-gitlab fa-3x fa-fw fa-color"></i>@Html.Raw(ResourceHelper.GetResource(ResourceKeyCollection.TitleHeader1, CultureHelper.GetCurrentLanguage()))</li>
                        <li class="hidden-xs"><i class="fa fa-check-circle fa-3x fa-fw fa-color"></i>@Html.Raw(ResourceHelper.GetResource(ResourceKeyCollection.TitleHeader2, CultureHelper.GetCurrentLanguage()))</li>
                        <li class="hidden-xs"><i class="fas fa-shipping-fast fa-3x fa-fw fa-color"></i>@Html.Raw(ResourceHelper.GetResource(ResourceKeyCollection.TitleHeader3, CultureHelper.GetCurrentLanguage()))</li>
                        <li class="wrap-shoping-cart">
                            <a href="/gio-hang" title="@ResourceHelper.GetResource(ResourceKeyCollection.CardName, CultureHelper.GetCurrentLanguage())" class="group-icon cart-button">
                                <i class="fa fa-shopping-bag fa-3x fa-color"></i><span class="hidden-sm-down text hidden-md-down">@ResourceHelper.GetResource(ResourceKeyCollection.CardName, CultureHelper.GetCurrentLanguage())</span><small class="cart-count">
                                    @cartItemsCount
                                </small>
                            </a>
                        </li>
                    </ul>
                    <div class="main-nav">
                        <ul class="nav navbar-nav">
                            <div id="mainNavbar" class="collapse navbar-toggleable-sm">
                                <ul class="nav navbar-nav">
                                    @{
                                        foreach (var item in Model.ListMenu.ToList())
                                        {
                                            if (item.Parent == null)
                                            {
                                                var SubMenu = Model.ListMenu.Where(n => n.Parent != null && n.Parent.Id == item.Id).ToList();
                                                if (SubMenu.Count == 0)
                                                {
                                                    <li class="nav-item ">
                                                        <a href="@item.Url" class="nav-link" onclick="">
                                                            <span class="gift-btn">@item.Title <i class="fa fa-new"></i></span>
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="nav-item dropdown">
                                                        <a href="@item.Url" class="nav-link dropdown-toggle" onclick="">@item.Title</a>
                                                        <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="hidden-md-up dropdown-arrow">
                                                            <i class="fa fa-down-arrow"></i>
                                                        </a>
                                                        <div aria-labelledby="Preview" class="dropdown-menu">
                                                            @{
                                                                foreach (var submenu in SubMenu)
                                                                {
                                                                    <a href="@submenu.Url" class="dropdown-item" onclick="">
                                                                        <i class="fa fa-nest fa-fw"></i>@submenu.Title
                                                                    </a>
                                                                }
                                                            }


                                                        </div>
                                                    </li>
                                                }

                                            }

                                        }
                                    }
                                    <li class="nav-item">
                                        <form method="get" role="search" class="search-form" action="">
                                            <input id="placeholder-type-writter" type="text" placeholder="Tổ yến .." class="form-control" value="" name="s">
                                            <button class="btn-link" type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End main-head-->
</header>