﻿@{
    ViewBag.Title = "Quản lý tài nguyên";
    ViewBag.menuid = "resource";
    int index = 1;
}
@using MainProject.Framework.Models
@model MainProject.Web.Areas.Admin.Models.StringResource.StringResourceViewModel2
<!-- CSS files of Setting Index page -->
<!-- DataTables -->
<link rel="stylesheet" href="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.css")">

<!-- JS files of setting index page -->
<!-- DataTables -->
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.min.js")"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Tài nguyên
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
            <li><a href="#">Cài đặt</a></li>
            <li class="active">Tài nguyên</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <!-- select -->
                        <div class="col-xs-12">
                            <label>
                                @Html.Raw(TempData["message"])
                            </label>
                        </div>
                        <div class="col-xs-4">
                                <div class="form-group">
                                    <label>Lọc theo ngôn ngữ</label>
                                    @Html.DropDownListFor(d=>d.LanguageSelectedValue,Model.Languages,new { @onchange = "changeData();", @class="form-control" })
                                </div>
                            </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Nội dung</label>
                                <input type="text" class="form-control" value="@(Model.Filter??" ")" name="Filter" id="Filter" onchange="changeData();" />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Từ khóa</th>
                                    <th>Giá trị</th>
                                    <th>Tác vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListStringResource)
                                {
                                    string tagTr = "";
                                    if (index % 2 == 0)
                                    {
                                        tagTr = "even";
                                    }
                                    else
                                    {
                                        tagTr = "odd";
                                    }
                                    <tr class="@tagTr">
                                        <td>@index</td>
                                        <td>@item.Key.Name</td>
                                        <td>@item.Value</td>
                                        <td>
                                            <a href="/Admin/ResourceAdmin/Edit/@item.Id" class=".btn.btn-app" title="Chỉnh sửa">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    index++;
                                }
                            </tbody>
                        </table>
                        <div class="dataTables_paginate">
                            @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    function changeData() {
        var languageId = $("#LanguageSelectedValue")[0].value;
        var content = $("#Filter")[0].value;
        window.location = "?languageId=" + languageId + "&filter=" + content.toString().trim();
    }
</script>