﻿@{
    ViewBag.Title = "Chi tiết đơn hàng";
    var index = 1;
}
@model MainProject.Web.Areas.Admin.Models.Order.DetailManageModel

@if (TempData["message"] != null)
{
    <span style="font-style: italic; font-weight: bold; color: red;">@((string)TempData["message"])</span>
}
@if (Model == null)
{
    <span style="color: Red">Không tìm thấy đơn hàng được yêu cầu!</span>
}
else
{
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Chi tiết thông tin liên hệ</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
                <li><a href="#">Thông tin liên hệ</a></li>
                <li class="active">Chi tiết</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><label>Tên khách hàng</label></td>
                                        <td>@Html.Raw(Model.BuyerName)</td>
                                    </tr>
                                    <tr>
                                        <td><label>Điện thoại</label></td>
                                        <td>@Html.Raw(Model.BuyerPhone)</td>
                                    </tr>
                                    <tr>
                                        <td><label>Email</label></td>
                                        <td>@Html.Raw(Model.BuyerEmail)</td>
                                    </tr>
                                    <tr>
                                        <td><label>Địa chỉ</label></td>
                                        <td>@Html.Raw(Model.BuyerAddress)</td>
                                    </tr>
                                    <tr>
                                        <td><label>Hình thức thanh toán</label></td>
                                        <td>@Html.Raw(Model.OrderType)</td>
                                    </tr>
                                    <tr>
                                        <td><label>Thời gian</label></td>
                                        <td>@Html.Raw(Model.OrderTime)</td>
                                    </tr>
                                    <tr>
                                        <td><label>Tình trạng đơn hàng</label></td>
                                        <td>@Html.Raw(Model.OrderStatus)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
        <div style="clear: both;"></div>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <fieldset>
                                <h3>Cập nhật thông tin đơn hàng</h3>
                                @using (Html.BeginForm())
                                {
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(m => m.Id)
                                    <div class="col-xs-2">
                                        <div class="form-group">
                                            <label>Trạng thái đơn hàng</label>
                                            @Html.DropDownListFor(m => m.OrderStatusSelected, Model.OrderStatusItems, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-xs-1 nopadding">
                                        <div class="form-group" style="padding-top:25px;">
                                            <button type="submit" class="btn btn-block btn-primary btn-flat">Cập nhật</button>
                                        </div>
                                    </div>
                                }
                            </fieldset>
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên sản phẩm</th>
                                        <th class="text-center">Hình ảnh</th>
                                        <th>Đơn giá</th>
                                        <th class="text-center">Số lượng</th>
                                        <th class="text-center">Thành tiền</th>
                                        <th class="text-center">Xem chi tiết</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.OrderItems != null)
                                        {
                                            foreach (var item in Model.OrderItems)
                                            {
                                                string bgclass = index % 2 == 0 ? "even" : "odd";
                                                <tr class="@bgclass">
                                                    <td>
                                                        @(index++)
                                                    </td>
                                                    <td>
                                                        <a href="@item.Product.GetUrl()">@item.Product.Name</a>
                                                    </td>
                                                    <td class="text-center">
                                                        <img src="@item.Product.ImageDefault" alt="@item.Product.Name" title="@item.Product.Name" style="width: 80px;height: 100px;" />
                                                    </td>
                                                    <td class="text-center">
                                                        @Html.FormatCurrency(item.Product.Price)
                                                    </td>
                                                    <td class="text-center">@item.ItemCount</td>
                                                    <td class="text-center">@Html.FormatCurrency(item.Amount)</td>
                                                    <td class="text-center">
                                                        <a href="@item.Product.GetUrl()" class=".btn.btn-app" title="Xem chi tiết">
                                                            <i class="fa fa-external-link"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="5">
                                                    <span style="width: 100%; text-align: right; font-weight: bold;">Tổng hóa đơn: </span>
                                                </td>
                                                <td>
                                                    @Html.FormatCurrency(Model.Amount)
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <fieldset>
                                <legend>Lịch sử thao tác</legend>
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Thời gian</th>
                                            <th>Loại hoạt động</th>
                                            <th>Người thực hiện</th>
                                            <th>Giá trị cũ</th>
                                            <th>Giá trị mới</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            index = 1;
                                        }
                                        @foreach (var item in Model.OrderLogItems)
                                        {
                                            string bgclass = index % 2 == 0 ? "even" : "odd";
                                            <tr class="@bgclass">
                                                <td>
                                                    @(index++)
                                                </td>
                                                <td>
                                                    @(item.ActionTime)
                                                </td>
                                                <td>
                                                    @(item.OrderLogType)
                                                </td>
                                                <td>
                                                    @(item.ActionBy)
                                                </td>
                                                <td>
                                                    @(item.OldValue)
                                                </td>
                                                <td>
                                                    @(item.NewValue)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
