﻿@{
    ViewBag.Title = "Quản lý đơn hàng";
    int index = 1;
}
@using MainProject.Framework.Models
@using MainProject.Framework.Helper
@model MainProject.Web.Areas.Admin.Models.Order.IndexManageModel
<!-- CSS files of Setting Index page -->
<!-- DataTables -->
<link rel="stylesheet" href="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.css")">


<!-- JS files of setting index page -->
<!-- DataTables -->
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.min.js")"></script>

<!--Style of datetimepicker-->
<script src="~/Content/style_admin/plugins/Quang/datetime.js"></script>
<link href="~/Content/style_admin/plugins/Quang/bootstrap-datetimepicker.css" rel="stylesheet" />


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Đơn hàng
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
            <li><a href="#">Nội dung</a></li>
            <li class="active">Đơn hàng</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <p>
                            @Html.Raw(TempData["message"])
                        </p>
                        <fieldset>
                            <legend>Lọc đơn đặt hàng</legend>
                            <form id="orderSearchForm" method="GET" action="/Admin/OrderAdmin/Index">
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label>Tên khách hàng</label>
                                        @Html.TextBoxFor(m => m.BuyerName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label>Tình trạng đơn hàng</label>
                                        @Html.DropDownListFor(m => m.OrderStatusSelected, Model.OrderStatusItems, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label>Từ ngày</label>
                                    <div class='input-group col-sm-12 date' id='startDate'>
                                        @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label>Đến ngày</label>
                                    <div class='input-group col-sm-12 date' id='endDate'>
                                        @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-1 nopadding">
                                    <div class="form-group" style="padding-top:25px;">
                                        <button type="submit" class="btn btn-block btn-primary btn-flat">Tìm kiếm</button>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                        <div class="form-group col-xs-3">
                            @Html.ActionLink("Xuất file Excel", "ExportExcel", null, new { @class = "btn btn-block btn-primary btn-lg" })
                        </div>
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên khách hàng</th>
                                    <th>Email</th>
                                    <th>Điện thoại</th>
                                    <th>Thời gian đặt hàng</th>
                                    <th>Trạng thái</th>
                                    <th class="text-center">Tác vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.Orders != null)
                                    {
                                        foreach (var item in Model.Orders)
                                        {
                                            var article = item;
                                            string bgclass = index % 2 == 0 ? "even" : "odd";
                                            <tr class="@bgclass">
                                                <td>
                                                    @(index++)
                                                </td>
                                                <td>
                                                    @(item.BuyerName)
                                                </td>
                                                <td>
                                                    @(item.BuyerEmail)
                                                </td>
                                                <td>
                                                    @(item.BuyerPhone)
                                                </td>
                                                <td>
                                                    @(item.OrderTime)
                                                </td>
                                                <td>
                                                    @(item.OrderStatus.GetDescription())
                                                </td>
                                                <td class="containIcon text-center">
                                                    @if (ViewBag.IsDetail != null)
                                                    {
                                                        <a href="/Admin/OrderAdmin/Detail/@item.Id" class="btn btn-info" title="Chỉnh sửa">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    }
                                                    @if (ViewBag.IsDelete != null)
                                                    {
                                                        <span id="category-delete" class="btn btn-danger delete-btn" data-toggle="modal" data-target="#categorymodel-delete-confirmation" data-id="@item.Id">
                                                            <i class="fa fa-trash-o"></i>
                                                        </span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }

                                    if (ViewData["Errors"] != null)
                                    {
                                        <tr>
                                            <td>@Html.Raw(ViewData["Errors"])</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="dataTables_paginate">
                            @Html.RenderPagingAdmin(Model.PagingModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<div id="categorymodel-delete-confirmation" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="categorymodel-delete-confirmation-title" style="display: none; padding-right: 16px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title text-center text-danger text-bold" id="categorymodel-delete-confirmation-title">Thông báo</h3>
            </div>
            <form action="" method="post" novalidate="novalidate" id="popup-delete">
                <div class="form-horizontal">
                    <div class="modal-body text-center">
                        <h4 class="text-warning">Bạn có chắc muốn xóa Đơn hàng này?</h4>
                    </div>
                    <div class="modal-footer">
                        <span class="btn btn-default" data-dismiss="modal">Cancel</span>
                        <button type="submit" class="btn btn-danger pull-right">
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('#startDate').datetimepicker({

                format: 'MM/DD/YYYY',
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },

            });
            $('#endDate').datetimepicker({

                format: 'MM/DD/YYYY',
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },

            });
        });

        $('#category-delete').attr("data-toggle", "modal").attr("data-target", "#categorymodel-delete-confirmation")
    });
    $(document).ready(function () {
        
    });

    $(".delete-btn").on("click", function () {
        $("#popup-delete").attr("action", "/Admin/OrderAdmin/Delete/" + $(this).attr("data-id"));
    });

    //function Filter() {
    //    var name = $("#Name")[0].value;
    //    var startDate = $("#StartDate")[0].value;
    //    alert(startDate);
    //    var endDate = $("#EndDate")[0].value;
    //    document.location = "?name=" + name + "&startDate=" + startDate + "&endDate=" + endDate;
    //}
</script>