﻿@model MainProject.Web.Areas.Admin.Models.LanguageSelectModel
@{
    ViewBag.Title = "Quản lý danh mục";
    ViewBag.menuid = "category";
}

@Html.Raw(string.Format("<script type='text/javascript'>{0}</script>",TempData["message"]))

<!-- CSS files of Setting Index page -->
<!-- DataTables -->
<link rel="stylesheet" href="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.css")">


<!-- JS files of setting index page -->
<!-- DataTables -->
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.min.js")"></script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Danh mục
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a href="#">Nội dung</a></li>
        <li class="active">Danh mục</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-xs-12">
            <div class="box">
            <div class="box-body">
                <!-- select -->
                <div class="col-xs-4">
                    <p>
                        @Html.Raw(TempData["message"])
                    </p>
                    <div class="form-group">
                        <label>Lọc theo ngôn ngữ</label>
                        @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { @onchange = "FilterLanguage(this.value);", @class = "form-control" })
                    </div>
                    @if (ViewBag.IsCreate != null)
                    {
                        <div class="form-group col-xs-6 nopadding">
                            @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-block btn-primary btn-lg" })
                        </div>
                    }
                </div>
                <div id="cate"></div>
            </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<div id="categorymodel-delete-confirmation" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="categorymodel-delete-confirmation-title" style="display: none; padding-right: 16px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title text-center text-danger text-bold" id="categorymodel-delete-confirmation-title">Thông báo</h3>
            </div>
            <form action="" method="post" novalidate="novalidate" id="popup-delete">
                <div class="form-horizontal">
                    <div class="modal-body text-center">
                        <h4 class="text-warning">Bạn có chắc muốn xóa Danh mục này?</h4>
                    </div>
                    <div class="modal-footer">
                        <span class="btn btn-default" data-dismiss="modal">Cancel</span>
                        <button type="submit" class="btn btn-danger pull-right">
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
</script>
<script type="text/javascript"> 
    function FilterLanguage(selectedValue) {
        var request = $.ajax({
            url: "/Admin/CategoryAdmin/SortFollowLanguage?languageId=" + selectedValue,
            type: "GET",
        });
        request.done(function (result) {
            $('#cate').html(
                result.Data
            );
            onclik();
        });
    }
    $(document).ready(function () {
        FilterLanguage();
        $('#category-delete').attr("data-toggle", "modal").attr("data-target", "#categorymodel-delete-confirmation")
    });

    function onclik() {
        $(".delete-btn").on("click", function () {
            $("#popup-delete").attr("action", "/Admin/CategoryAdmin/Delete/" + $(this).attr("data-id"));
        })
    }
    
</script>