﻿@using MainProject.Framework.Helper
@model List<MainProject.Service.Models.ViewModel.ShopppingCart.ShoppingCartItem>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int index = 1;
    decimal total = 0;
}
@if (Model != null)
{
<div class="content">
    <section class="shopping_cart ">
        <div class="container">
            <div class="row">
                <div class="change_imfor_cart">
                    <h3>Thông Tin giỏ hàng</h3>
                    <div class="list_cart">
                        <div class="row">
                            <div class="item">
                                STT
                            </div>
                            <div class="item item_name">
                                Thông tin sản phẩm
                            </div>
                            <div class="item change_total">
                                Số lượng
                            </div>
                            <div class="item price_item">
                                <p>Giá</p>
                            </div>
                            <div class="item final_price">
                                <p>Thành tiền</p>
                            </div>
                        </div>
                        @foreach (var shoppingCartItem in Model)
                        {
                            total += shoppingCartItem.ItemAmount;
                            var rowId = index++;
                            var currentPrice = shoppingCartItem.Product.IsPromotion ? shoppingCartItem.Product.PromotionPrice
                                                                                     : shoppingCartItem.Product.Price;
                            var priceId = "price" + rowId;
                            var itemCountId = "itemCount" + rowId;
                            var oldItemCountId = "oldItemCount" + rowId;
                            var amountId = "amount" + rowId;
                            <div class="row" id="@rowId">
                                <div class="item">
                                    @(rowId)
                                </div>
                                <div class="item item_name">
                                    <div class="row">
                                        <div class="img">
                                            <img src="@shoppingCartItem.Product.ImageDefault" alt="@shoppingCartItem.Product.ImageDefaultAlt">
                                        </div>
                                        <div class="txt">
                                            <p class="namepduct" onclick="window.location.href='@shoppingCartItem.Product.Url'">@shoppingCartItem.Product.Name</p>
                                            <p class="catepduct" onclick="window.location.href='@shoppingCartItem.Product.ProductCategoryUrl'">@shoppingCartItem.Product.ProductCategoryTitle</p>
                                            <p class="codepdict">Mã: @shoppingCartItem.Product.ProductCode</p>
                                            <p class="deletepdict"  onclick="DeleteCartItem('@shoppingCartItem.TokenCode',@rowId)"><span>X</span>Xóa sản phẩm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item change_total">
                                    <div class="txt_total">Số lượng:</div>
                                    <div class="amount">
                                        <input type="text" value="@shoppingCartItem.ItemCount" id="@itemCountId" class="txt_change" oninput="UpdateItemCount('@shoppingCartItem.TokenCode', @rowId);">
                                        <span class="btn minus" onclick="UpdateItemCount('@shoppingCartItem.TokenCode', @rowId);">-</span>
                                        <span class="btn plus" onclick="UpdateItemCount('@shoppingCartItem.TokenCode', @rowId);">+</span>
                                    </div>
                                    <input type="hidden" id="@oldItemCountId" value="@shoppingCartItem.ItemCount">

                                </div>
                                <div class="item price_item">
                                    <p data-price="@currentPrice" id="@priceId"><span>Đơn giá:</span> @Html.FormatCurrency(currentPrice) VNĐ</p>
                                </div>
                                <div class="item final_price">
                                    <p id="@amountId"><span>Thành giá:</span> @Html.FormatCurrency(shoppingCartItem.ItemAmount) VNĐ</p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="continue_buy">
                        <div class="row">
                            <div class="item_buy">
                                <a href="/">Tiếp tục mua hàng <i class="ic-Arrow-right"></i></a>
                            </div>
                            <div class="item_buy">
                                <p>Tổng tiền : <span id="total">@Html.FormatCurrency(total) VNĐ</span></p>
                                <input id="old_total" value="@total" type="hidden" />
                            </div>
                        </div>
                    </div>
                    <div class="see_more_general">
                        <a href="/Order/Index">Tiến hành thanh toán <i class="ic-Arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
}
@section scripts{
    <script type="text/javascript" src="~/Content/layout/custom/js/shopping-cart.js"></script>
}