﻿@using MainProject.Framework.Helper
@using MainProject.Core.Enums
@using MainProject.Service.Helper;
@model List<MainProject.Service.Models.ViewModel.ShopppingCart.ShoppingCartItem>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int index = 1;
    decimal total = 0;
    var orderTypes = (List<MainProject.Core.OrderType>)ViewBag.OrderTypes;
    var unitPrice = @ResourceHelper.GetResource(ResourceKeyCollection.UnitPrice, CultureHelper.GetCurrentLanguage());
    var unitPriceOl = @ResourceHelper.GetResource(ResourceKeyCollection.PriceOld, CultureHelper.GetCurrentLanguage());

}
@if (Model != null)
{

    <div id="content" class="site-content">
        @{Html.RenderAction("_ShowMenuMobie", "Home");}
        <div class="col-full">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <div class="cart-page static-header-page">
                        <div class="content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-8 offset-lg-2">
                                        <div id="order" class="card">
                                            <div class="card-header">
                                                <h5 class="card-title"> <i class="fa fa-shopping-bag"> </i><span>Thông tin đơn hàng</span></h5>
                                            </div>
                                            <div class="cart-body">
                                                <div class="card-block">
                                                    <div class="cart-view">
                                                        <ul class="list-unstyled product-list">

                                                            @foreach (var shoppingCartItem in Model)
                                                            {
                                                                total += shoppingCartItem.ItemAmount;
                                                                var rowId = index++;
                                                                var currentPrice = shoppingCartItem.Product.IsPromotion ? shoppingCartItem.Product.PromotionPrice
                                                                                                                         : shoppingCartItem.Product.Price;
                                                                var priceId = "price" + rowId;
                                                                var itemCountId = "itemCount" + rowId;
                                                                var oldItemCountId = "oldItemCount" + rowId;
                                                                var amountId = "amount" + rowId;
                                                                <li class="item-53996" id="@rowId">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <img width="180" height="180" src="@shoppingCartItem.Product.ImageDefault" data-lazy-type="image" data-src="@shoppingCartItem.Product.ImageDefault" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image lazy-loaded" alt="@shoppingCartItem.Product.Name"><noscript>
                                                                                <img width="180" height="180" src="@shoppingCartItem.Product.ImageDefault" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="@shoppingCartItem.Product.Name" />
                                                                            </noscript>
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <h4>@shoppingCartItem.Product.Name</h4>
                                                                            <p class="prd-price pull-left">
                                                                                <span class="old-price">@Html.FormatCurrency(currentPrice) @unitPrice</span>
                                                                                <span class="price">@Html.FormatCurrency(shoppingCartItem.ItemAmount) @unitPrice</span>
                                                                            </p>
                                                                            <a href="#" class="group-icon pull-right btn_remove_item_cart" onclick="DeleteCartItem('@shoppingCartItem.TokenCode',@rowId)">
                                                                                <i class="fas fa-trash"></i>
                                                                            </a>
                                                                            <div class="prd-quanlity pull-right">
                                                                                <div class="container">
                                                                                    <div class="form-group row item change_total">
                                                                                        <label for="smFormGroupInput" class="col-sm-4 offset-sm-2 col-form-label col-form-label-sm">Số lượng: </label>
                                                                                        <div class="col-sm-6 ">
                                                                                            <input type="number" value="@shoppingCartItem.ItemCount" name="product-quality" oninput="UpdateItemCount('@shoppingCartItem.TokenCode', @rowId);" class="form-control form-control-sm input_qty_item_cart">
                                                                                            @*<span class="btn minus" onclick="UpdateItemCount('@shoppingCartItem.TokenCode', @rowId);">-</span>
                                                                                                <span class="btn plus" onclick="UpdateItemCount('@shoppingCartItem.TokenCode', @rowId);">+</span>*@
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="multi-option ">
                                                                                <div class="form-group">
                                                                                    <input type="text" name="txt_multi" placeholder="Ghi chú chọn vị VD: 2 táo đỏ, 1 mật ong ..." class="form-control txt_multi" title="@shoppingCartItem.Product.ProductCategoryTitle">
                                                                                    <div role="alert" class="alert alert-info alert-sm">
                                                                                        <p class="mb-5"><strong>Danh sách 12 vị: </strong><span>Táo đỏ, Mật ong, Lá dứa, Gừng, Sữa tươi, Hạt chia, Hạt sen, Bạch quả, Long nhãn, Vani-Đường phèn, Không đường &amp; Thập cẩm.</span></p>
                                                                                        <p><strong>Gợi ý thực đơn từng đối tượng:</strong></p>
                                                                                        <ul>
                                                                                            <li>Mẹ Bầu: Hạt chia, Mật ong, Hạt sen, Táo đỏ.</li>
                                                                                            <li>Em Bé: Hạt chia, Vani-Đường phèn.</li>
                                                                                            <li>Quà Biếu/ Thăm Bệnh: Gừng, Mật ong, Táo đỏ, Sen.</li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            }



                                                        </ul>

                                                        <p class="hidden cart_subtotal"><small><span>Thành tiền:</span><em class="pull-right">@Html.FormatCurrency(total) ₫</em></small></p>
                                                        <p class="hidden cart_discount"><small><span>Giảm giá:</span><i class="pull-right"></i></small></p>
                                                        <p id="total" class="cart_total"><strong>Tổng cộng:</strong><b class="pull-right">@Html.FormatCurrency(total) ₫</b></p>
                                                    </div>
                                                    <form action="/Order/Checkout" id="OrderCheckOut" method="post">
                                                        <div class="voucher-box">
                                                            <p><span>Bạn có mã giảm giá? </span><a href="#" class="btn-link">Click để nhập mã</a></p>
                                                            <div class="voucher-form hidden">
                                                                <div class="input-group">
                                                                    <input type="text" value="" placeholder="Nhập mã giảm giá..." aria-describedby="btnGroupAddon" class="form-control coupon_code">
                                                                    <button type="button" class="btn btn-success coupon_apply">Áp dụng</button>
                                                                </div>
                                                                <div class="coupon_message">
                                                                    <div class="hidden coupon_check"><img src="~/Content/style_admin/custom/images/loading.gif"> Đang kiểm tra...</div>
                                                                    <div role="alert" class="alert alert-danger alert-sm hidden coupon_error"><i class="fa fa-info-circled"></i><span></span></div>
                                                                    <div role="alert" class="alert alert-success alert-sm hidden coupon_success"><i class="fa fa-info-circled"></i><span></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row form-order">

                                                            <div class="col-xs-6 form-group">
                                                                <input placeholder="Họ tên *" type="text" name="Name" id="Name" class="form-control txt-name">
                                                                <div role="alert" class="alert alert-danger alert-sm hidden"><i class="fa fa-info-circled"></i><span></span></div>
                                                            </div>
                                                            <div class="col-xs-6 form-group">
                                                                <input placeholder="Số điện thoại *" name="Phone" id="Phone" type="text" class="form-control txt-phone">
                                                                <div role="alert" class="alert alert-danger alert-sm hidden"><i class="fa fa-info-circled"></i><span></span></div>
                                                            </div>
                                                            <div class="col-xs-12 form-group">
                                                                <input placeholder="Email nếu có" type="email" name="Email" id="Email" class="form-control txt-email">
                                                                <div role="alert" class="alert alert-danger alert-sm hidden"><i class="fa fa-info-circled"></i><span></span></div>
                                                            </div>
                                                            <div class="col-xs-12 form-group">
                                                                <input placeholder="Ghi chú giao hàng" id="Note" name="Note" type="text" class="form-control txt-message">
                                                            </div>
                                                            <div class="col-xs-12 form-group hidden">
                                                                <input placeholder="Ghi chú giao hàng" id="Address" name="Address" type="text" class="form-control txt-message">
                                                            </div>
                                                            <div class="col-xs-12 form-group">
                                                                <b class="db">Vui lòng chọn hình thức giao hàng:</b>
                                                                <div class="form-check form-check-inline hidden">
                                                                    <label class="form-check-label">
                                                                        <input id="inlineRadio1" type="radio" name="payment_method" value="cod" checked="" class="form-check-input" data-text="Giao hàng tận nơi"><span>Giao hàng tận nơi</span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check form-check-inline hidden">
                                                                    <label class="form-check-label">
                                                                        <input id="inlineRadio2" type="radio" name="payment_method" value="cod_warehouse" class="form-check-input" data-text="Đến nhận tại cửa hàng"><span>Đến nhận tại cửa hàng</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12">
                                                                <div class="card">
                                                                    <div class="card-block">
                                                                        <div class="row option_cod">
                                                                            <div class="col-xs-6 form-group">
                                                                                <select id="selectCity" class="form-control">
                                                                                    <option value="0">Chọn tỉnh, thành phố *</option>
                                                                                    <option value="5">TP.HCM</option>
                                                                                    <option value="4">﻿Hà Nội</option>
                                                                                    <option value="6">Đà Nẵng</option>
                                                                                    <option value="32">Hải Phòng</option>
                                                                                    <option value="21">Cần Thơ</option>
                                                                                    <option value="10">An Giang</option>
                                                                                    <option value="11">Bà Rịa - Vũng Tàu</option>
                                                                                    <option value="12">Bắc Giang</option>
                                                                                    <option value="13">Bắc Kạn</option>
                                                                                    <option value="14">Bạc Liêu</option>
                                                                                    <option value="15">Bắc Ninh</option>
                                                                                    <option value="16">Bến Tre</option>
                                                                                    <option value="8">Bình Dương</option>
                                                                                    <option value="18">Bình Phước</option>
                                                                                    <option value="19">Bình Thuận</option>
                                                                                    <option value="17">Bình Định</option>
                                                                                    <option value="20">Cà Mau</option>
                                                                                    <option value="22">Cao Bằng</option>
                                                                                    <option value="27">Gia Lai</option>
                                                                                    <option value="28">Hà Giang</option>
                                                                                    <option value="29">Hà Nam </option>
                                                                                    <option value="30">Hà Tĩnh</option>
                                                                                    <option value="31">Hải Dương</option>
                                                                                    <option value="33">Hậu Giang</option>
                                                                                    <option value="34">Hòa Bình</option>
                                                                                    <option value="35">Hưng Yên</option>
                                                                                    <option value="36">Khánh Hòa</option>
                                                                                    <option value="37">Kiên Giang</option>
                                                                                    <option value="38">Kon Tum</option>
                                                                                    <option value="39">Lai Châu</option>
                                                                                    <option value="40">Lâm Đồng</option>
                                                                                    <option value="41">Lạng Sơn</option>
                                                                                    <option value="42">Lào Cai</option>
                                                                                    <option value="9">Long An</option>
                                                                                    <option value="43">Nam Định</option>
                                                                                    <option value="44">Nghệ An</option>
                                                                                    <option value="45">Ninh Bình</option>
                                                                                    <option value="46">Ninh Thuận</option>
                                                                                    <option value="47">Phú Thọ</option>
                                                                                    <option value="48">Phú Yên</option>
                                                                                    <option value="49">Quảng Bình</option>
                                                                                    <option value="50">Quảng Nam</option>
                                                                                    <option value="51">Quảng Ngãi</option>
                                                                                    <option value="52">Quảng Ninh</option>
                                                                                    <option value="53">Quảng Trị</option>
                                                                                    <option value="54">Sóc Trăng</option>
                                                                                    <option value="55">Sơn La</option>
                                                                                    <option value="56">Tây Ninh</option>
                                                                                    <option value="57">Thái Bình</option>
                                                                                    <option value="58">Thái Nguyên</option>
                                                                                    <option value="59">Thanh Hóa</option>
                                                                                    <option value="60">Thừa Thiên Huế</option>
                                                                                    <option value="61">Tiền Giang</option>
                                                                                    <option value="62">Trà Vinh</option>
                                                                                    <option value="63">Tuyên Quang</option>
                                                                                    <option value="64">Vĩnh Long</option>
                                                                                    <option value="65">Vĩnh Phúc</option>
                                                                                    <option value="66">Yên Bái</option>
                                                                                    <option value="23">Đắk Lắk</option>
                                                                                    <option value="24">Đắk Nông</option>
                                                                                    <option value="25">Điện Biên</option>
                                                                                    <option value="7">Đồng Nai</option>
                                                                                    <option value="26">Đồng Tháp</option>
                                                                                </select>
                                                                                <div role="alert" class="alert alert-danger alert-sm hidden"><i class="fa fa-info-circled"></i><span></span></div>
                                                                            </div>
                                                                            <div class="col-xs-6 form-group" id="district-wrap">
                                                                                <select id="selectDistrict" class="form-control">
                                                                                    <option value="0">Chọn quận, huyện *</option>
                                                                                </select>
                                                                                <div role="alert" class="alert alert-danger alert-sm hidden"><i class="fa fa-info-circled"></i><span></span></div>
                                                                            </div>
                                                                            <div class="col-xs-12 form-group">
                                                                                <input placeholder="Số nhà, tên đường, phường/ xã *" id="inpAddress" name="inpAddress" type="text" class="form-control txt-address">
                                                                                <div role="alert" class="alert alert-danger alert-sm hidden"><i class="fa fa-info-circled"></i><span></span></div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- warehouse -->
                                                                        <div class="form-group option_warehouse" style="display:none">
                                                                            <div class="form-check">
                                                                                <label class="form-check-label">
                                                                                    <input id="optionsRadios1" type="radio" name="warehouse" value="1" checked="" class="form-check-input" data-text="Cửa hàng HCM: 347/15/6 Huỳnh Văn Bánh, P.11, Quận Phú Nhuận, TP.HCM">Cửa hàng HCM : 347/15/6 Huỳnh Văn Bánh, P.11, Quận Phú Nhuận, TP.HCM
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-xs-12 form-group">
                                                                <div class="form-check form-check-inline mb-10">
                                                                    <label class="form-check-label">
                                                                        <input class="form-check-input gift_checkbox" id="inlineGift" type="checkbox" name="gift_checkbox"><span>Gửi kèm thiệp tặng bạn bè &amp; người thân (Miễn phí)</span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-group gift_message" style="display:none">
                                                                    <textarea class="form-control gift-message" placeholder="Ghi chú nội dung thiệp (nếu muốn Thượng Yến ghi giúp bạn)" rows="3"></textarea>
                                                                    <div role="alert" class="alert alert-danger alert-sm hidden"><i class="fa fa-info-circled"></i><span></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 form-group">
                                                                @foreach (var item in orderTypes)
                                                                {
                                                                    var itemId = "radiopayment" + item.Id;
                                                                    <div class="type_button checkbox">
                                                                        @if (item.Id == orderTypes.First().Id)
                                                                        {
                                                                            <input class="payment__payment-radio" id="@itemId" type="radio" name="OrderTypeId" value="@item.Id" checked="checked">
                                                                            <label for="@itemId"><span></span>@item.Title</label>
                                                                            <div class="payment_type payment_type_active">
                                                                                @Html.Raw(item.Content)
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="payment__payment-radio" id="@itemId" type="radio" name="OrderTypeId" value="@item.Id">
                                                                            <label for="@itemId"><span></span>@item.Title</label>
                                                                            <div class="payment_type">
                                                                                @Html.Raw(item.Content)
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="loading" style="display: none"><img src="~/Content/style_admin/custom/images/loading.gif"></div>
                                                        <div class="modal-footer text-center"><a href="#" onclick="return CheckOut();" class="btn btn-primary btn-lg btn_place_order"><i class="fa fa-shopping-bag"> </i>Đặt hàng <img src="~/Content/style_admin/custom/images/loading.gif" style="display:none"></a></div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </main><!-- #main -->
            </div><!-- #primary -->


        </div><!-- .col-full -->
    </div>
}
@section scripts{
    <script type="text/javascript" src="~/Content/layout/custom/js/shopping-cart.js"></script>
}
