﻿@model MainProject.Service.Models.ViewModel.Product.DetailViewModel
@using MainProject.Framework.Helper
@using MainProject.Service.Helper;
@using MainProject.Core.Enums;
@{
    int index1 = 0;
    int index2 = 1;

}
<div id="content" class="site-content">
    <div class="mobile-footer-navbar hidden-md-up">
        @{Html.RenderAction("_ShowMenuMobie", "Home");}
    </div>
    <div class="col-full">
        <div class="content product-detail-page">
            <div class="top-cta" style="display: none;">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="cta-product-item">
                                <div class="product-img">
                                    <img width="180" height="180" src="//thuongyen.com/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-02-180x180.jpg" class="lazy-hidden img-fluid img-rounded wp-post-image" alt=""><noscript><img width="180" height="180" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-02-180x180.jpg" class="img-fluid img-rounded wp-post-image" alt="" /></noscript>
                                </div>
                                <div class="meta">
                                    <div class="text">@Model.BodyModel.ProductName</div>
                                    <span class="price"> <b>@Model.BodyModel.Price</b></span>
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary pull-right btn_add_to_cart" data-product_id="53861"><i class="ty ty-shopping-bag"></i>@ResourceHelper.GetResource(ResourceKeyCollection.Order, CultureHelper.GetCurrentLanguage()) <img src="~/Content/style_admin/custom/images/loading.gif" style="display: none"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <nav class="breadcrumb">
                    @Html.Raw(Model.TopModel.BreadcrumbHtmlString)
                </nav><!-- .breadcrumb -->
                <div class="detail-box">
                    <div class="row">
                        <div class="col-md-12 col-lg-9">
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="product-carousel" data-ride="carousel" data-interval="false" class="carousel slide">
                                        <!-- Wrapper for slides-->
                                        <div role="listbox" class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="embed-responsive embed-responsive-4by3">
                                                    <iframe id="player" videoid="an_Q5i5Ul9s" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="@Model.BodyModel.ProductName" width="640" height="390" src="https://www.youtube.com/embed/@Model.BodyModel.ProductVideoId?enablejsapi=1&amp;origin=https%3A%2F%2Fthuongyen.com&amp;widgetid=1"></iframe>
                                                </div>
                                            </div>
                                            @foreach (var item in Model.ListImage)
                                            {
                                                <div class="carousel-item ">
                                                    <img width="600" height="600" src="@item.Image" class="img-fluid img-rounded w-100 img-zoom" alt="" data-zoom-image="@item.Image">
                                                </div>
                                                index1++;
                                            }
                                            @*<div class="carousel-item ">
                                                    <img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-02-600x600.jpg" class="img-fluid img-rounded w-100 img-zoom" alt="" data-zoom-image="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-02.jpg">
                                                </div><div class="carousel-item ">
                                                    <img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-03-600x600.jpg" class="img-fluid img-rounded w-100 img-zoom" alt="Tổ yến làm sạch 50gr - Tiêu chuẩn thường" data-zoom-image="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-03.jpg">
                                                </div><div class="carousel-item ">
                                                    <img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-01-600x600.jpg" class="img-fluid img-rounded w-100 img-zoom" alt="Tổ yến làm sạch 50gr - Tiêu chuẩn thường" data-zoom-image="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-01.jpg">
                                                </div><div class="carousel-item ">
                                                    <img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2019/09/bieu-qua-tet-cho-bo-me-nguoi-yeu-7-600x600.jpg" class="img-fluid img-rounded w-100 img-zoom" alt="" data-zoom-image="https://thuongyen.com/wp-content/uploads/2019/09/bieu-qua-tet-cho-bo-me-nguoi-yeu-7.jpg">
                                                </div><div class="carousel-item "><img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2019/10/qua-tet-tang-sep-cao-cap-3-600x600.jpg" class="img-fluid img-rounded w-100 img-zoom" alt="" data-zoom-image="https://thuongyen.com/wp-content/uploads/2019/10/qua-tet-tang-sep-cao-cap-3.jpg">
                                                </div>*@
                                        </div><!-- Indicators-->
                                        <ul class="carousel-indicators">
                                            @*@if (Model.BodyModel.IsVideo)
                                                {*@
                                            <li data-slide-to="0" data-target="#product-carousel" class="active">
                                                <img src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/Product-360.jpg" class="img-fluid">
                                            </li>
                                            @*}*@
                                            @foreach (var item in Model.ListImage)
                                            {
                                                <li data-slide-to="@index2" data-target="#product-carousel" class=""><img width="180" height="180" src="@item.Image" class="img-fluid" alt=""></li>
                                                index2++;
                                            }
                                            @*<li data-slide-to="1" data-target="#product-carousel" class=""><img width="180" height="180" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-02-180x180.jpg" class="img-fluid" alt=""></li>
                                                <li data-slide-to="2" data-target="#product-carousel" class=""><img width="180" height="180" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-03-180x180.jpg" class="img-fluid" alt="Tổ yến làm sạch 50gr - Tiêu chuẩn thường"></li>
                                                <li data-slide-to="3" data-target="#product-carousel" class=""><img width="180" height="180" src="https://thuongyen.com/wp-content/uploads/2018/05/ThuongYen-ToYenSachLong-Thuong50gr-01-180x180.jpg" class="img-fluid" alt="Tổ yến làm sạch 50gr - Tiêu chuẩn thường"></li>
                                                <li data-slide-to="4" data-target="#product-carousel" class=""><img width="180" height="180" src="https://thuongyen.com/wp-content/uploads/2019/09/bieu-qua-tet-cho-bo-me-nguoi-yeu-7-180x180.jpg" class="img-fluid" alt=""></li>
                                                <li data-slide-to="5" data-target="#product-carousel" class=""><img width="180" height="180" src="https://thuongyen.com/wp-content/uploads/2019/10/qua-tet-tang-sep-cao-cap-3-180x180.jpg" class="img-fluid" alt=""></li>*@
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="product-info">
                                        <form class="cart" method="get" enctype="multipart/form-data">
                                            <h1 class="product-title">@Model.BodyModel.ProductName</h1>
                                            <p class="meta-info"></p><p>
                                                @Html.Raw(Model.BodyModel.ProductDescription)
                                            </p>
                                            <p></p>
                                            @*<div class="product-properties">
                                                    <b>Phân loại:</b>
                                                    <a class="btn-link" href="https://thuongyen.com/./to-yen/" rel="tag" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click phân loại', 'Tổ yến', {'nonInteraction': 1});">Tổ yến</a>, <a class="btn-link" href="https://thuongyen.com/./to-yen-lam-sach/" rel="tag" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click phân loại', 'Tổ yến làm sạch', {'nonInteraction': 1});">Tổ yến làm sạch</a>
                                                </div>*@
                                            <div class="row">
                                                <div class="product-properties col-xs-6">
                                                    <div class="form-group form-inline">
                                                        <label for="#product-quantity">Số lượng:</label>
                                                        <input type="number" id="#product-quantity" class="form-control form-control-sm input-text qty text input_qty_single" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric">
                                                        <input type="hidden" name="current_page" value="https://thuongyen.com/san-pham/to-yen-lam-sach-tieu-chuan-thuong-50gr">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-cta">
                                                <span class="market-price">@ResourceHelper.GetResource(ResourceKeyCollection.PriceOld, CultureHelper.GetCurrentLanguage()) @Model.BodyModel.PromotionPrice @ResourceHelper.GetResource(ResourceKeyCollection.UnitPrice, CultureHelper.GetCurrentLanguage())</span>
                                                <div class="price">
                                                    <b>@Model.BodyModel.Price @ResourceHelper.GetResource(ResourceKeyCollection.UnitPrice, CultureHelper.GetCurrentLanguage())</b>
                                                </div>
                                                <button type="submit" name="add-to-cart" value="53861" class="btn btn-primary btn-lg single_add_to_cart_button" onclick="AddToCart('@Model.BodyModel.Id')">
                                                    <i class="ty ty-shopping-bag"> </i><span>@ResourceHelper.GetResource(ResourceKeyCollection.Order, CultureHelper.GetCurrentLanguage()) <img src="~/Content/style_admin/custom/images/loading.gif" style="display: none"><small>Giao hàng trong 24H</small></span>
                                                </button>
                                            </div>
                                            <div class="phone-cta card">
                                                <div class="card-block">
                                                    <input id="inlineFormInput" type="text" placeholder="@ResourceHelper.GetResource(ResourceKeyCollection.PhoneNumber, CultureHelper.GetCurrentLanguage())" class="form-control form-control-sm input_phone_single">
                                                    <div class="clearfix"></div>
                                                    <p class="text-danger error-phone-notice-mua-nhanh" style="display:none"><i class="ty ty-info-circled"></i><span>@ResourceHelper.GetResource(ResourceKeyCollection.ValidatePhone, CultureHelper.GetCurrentLanguage())</span></p>
                                                    <input type="text" placeholder="@ResourceHelper.GetResource(ResourceKeyCollection.PlaceholderAddress, CultureHelper.GetCurrentLanguage())" class="form-control form-control-sm input_address_single">
                                                    <div class="clearfix"></div>
                                                    <p class="text-danger error-address-notice-mua-nhanh" style="display:none"><i class="ty ty-info-circled"></i><span>@ResourceHelper.GetResource(ResourceKeyCollection.ValidateAddress, CultureHelper.GetCurrentLanguage())</span></p>
                                                    <button type="button" class="btn btn-danger btn-sm btn_mua_nhanh" data-product_id="53861"><i class="ty ty-flash"> </i>Mua nhanh</button>
                                                    <img src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/loading-bar.gif" style="display:none" class="loading-bar">

                                                </div>
                                            </div>
                                            <p class="delivery alert alert-info hidden">
                                                <span><i class="ty ty-delivery-truck"> </i>Giao hàng miễn phí khu vực nội thành.</span><span><i class="ty ty-card"> </i>Số tiền <span class="text-primary">6.500đ </span>sẽ được tích vào thẻ khi giao dịch thành công.</span>
                                            </p>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 store-sidebar hidden-md-down">
                            <h4 class="sidebar-title">Cửa hàng gần nhất</h4>
                            <ul class="list-unstyled">
                                @for (int i = 0; i < @Model.BranchModel.BranchItems.Count; i++)
                                {
                                    <li>
                                        <p><i class="ty ty-home"> </i> @Model.BranchModel.BranchItems[i].Name</p>
                                        <p><a href="tel:@Model.BranchModel.BranchItems[i].Phone" class="btn-link" onclick="myClick(@(i + 1));return false;"><i class="ty ty-fw ty-phone"></i>@Model.BranchModel.BranchItems[i].Phone</a></p>
                                        <p>
                                            <i class="ty ty-fw ty-location-1"></i>@Model.BranchModel.BranchItems[i].Address
                                        </p>
                                        <div class="text-center"><a href="@Model.BranchModel.BranchItems[i].Url" target="_blank" class="btn btn-outline-danger btn-sm" onclick="myClick(@(i + 1))"> <i class="ty ty-direction"> </i>Xem bản đồ</a></div>
                                        <p></p>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-xs-12 col-md-8 product-info-detail">

                                    <ul role="tablist" class="nav tabs nav-inline">
                                        <li class="nav-item"><a data-toggle="tab" href="#tab1" role="tab" class="nav-link btn active" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click tab', 'thông tin sản phẩm', {'nonInteraction': 1});">Thông tin <span class="hidden-xs">sản phẩm</span></a></li>
                                        <li class="nav-item"><a data-toggle="tab" href="#tab2" role="tab" class="nav-link btn btn-tab-cbbq" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click tab', 'chế biến bảo quản', {'nonInteraction': 1});">Chế biến &amp; Bảo Quản</a></li>
                                    </ul>
                                    <div class="post-content-wrap">
                                        <div class="tab-content">
                                            <div id="tab1" role="tabpanel" class="tab-pane active">
                                                @Html.Raw(Model.BodyModel.DetailInformation)
                                            </div>
                                            <div id="tab2" role="tabpanel" class="tab-pane active">
                                                @Html.Raw(Model.BodyModel.SalesCommitment)
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar col-xs-12 col-md-4">
                                    <div class="sidebar-box">
                                        <h3 class="box-title"><span>@Model.BottomModel.Title</span></h3>
                                        <div class="row">
                                            <div class="col-xs-6 col-md-12">
                                                @foreach (var detailProductArticle in Model.BottomModel.DetailProductArticles)
                                                {
                                                    <div class="product-item">
                                                        <a href="@detailProductArticle.Url" class="product-img">
                                                            <img width="180" height="180" src="@detailProductArticle.Image"
                                                                 data-lazy-type="image" data-src="@detailProductArticle.Image" class="img-fluid img-rounded wp-post-image lazy-loaded" alt="@detailProductArticle.Alt">

                                                        </a>
                                                        <p class="meta">
                                                            <a href="@detailProductArticle.Url" class="text">@detailProductArticle.Title</a>
                                                            <span class="price"><b>@detailProductArticle.Price ₫</b></span>
                                                            <a class="hidden-sm btn btn-primary btn-sm" onclick="AddToCart('@Model.BodyModel.Id')">Đặt hàng</a>
                                                        </p>
                                                    </div>

                                                }



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="content-box product-box">
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="content-box-title"><i class="ty ty-star"> </i>Có thể bạn quan tâm<a href="https://thuongyen.com/san-pham/" class="read-all">Xem tất cả <i class="ty ty-angle-right"></i></a></h3>
                                    </div>
                                </div>
                                <div class="row">

                                    @if (Model.BodyModel.NewsArticles != null)
                                    {
                                        foreach (var item in Model.BodyModel.NewsArticles)
                                        {
                                            <div class="col-xs-6 col-md-4 post-62143 product type-product status-publish has-post-thumbnail product_cat-to-yen-chung-san-tien-loi product_cat-yen-chung-tuoi product_tag-yen-chung-tuoi product_tag-yen-hu-chung-san sale shipping-taxable purchasable product-type-simple product-cat-to-yen-chung-san-tien-loi product-cat-yen-chung-tuoi product-tag-yen-chung-tuoi product-tag-yen-hu-chung-san instock">
                                                <div class="product-item">
                                                    <a href="https://thuongyen.com/san-pham/yen-chung-san/" class="product-img" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click view sản phẩm', 'có thể bạn quan tâm  - 1', {'nonInteraction': 1});">
                                                        <img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2021/11/tổ-yến-chưng-thanh-nhiệt-600x600.png" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2021/11/tổ-yến-chưng-thanh-nhiệt-600x600.png" class="img-fluid wp-post-image lazy-loaded" alt=""><noscript><img width="600" height="600" src="https://thuongyen.com/wp-content/uploads/2021/11/tổ-yến-chưng-thanh-nhiệt-600x600.png" class="img-fluid wp-post-image" alt="" /></noscript>
                                                    </a>


                                                    <p class="meta">
                                                        <a href="https://thuongyen.com/san-pham/yen-chung-san/" class="text" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click view sản phẩm', 'có thể bạn quan tâm  - 1', {'nonInteraction': 1});">Yến Chưng Tươi 3 Size Tuỳ Chọn 80ml- 210ml – 280ml</a>
                                                        <span class="price">
                                                            <small>255.000₫</small>
                                                            <b>195.000₫</b>
                                                        </span>
                                                    </p>
                                                    <p class="hidden">1</p>
                                                    <a class="btn btn-success" href="/san-pham/to-yen-lam-sach-tieu-chuan-thuong-50gr/?add-to-cart=62143&amp;current_page=https://thuongyen.com/san-pham/to-yen-lam-sach-tieu-chuan-thuong-50gr" data-quantity="1" data-product_id="62143" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click đặt hàng', 'sản phẩm liên quan  - 1', {'nonInteraction': 1});">Đặt hàng <img src="~/Content/style_admin/custom/images/loading.gif" style="display: none"></a>
                                                </div>
                                            </div>



                                        }
                                    }
                                </div>
                            </div>
                        </div>*@

                    <div class="post-box">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="content-box-title">
                                    <i class="ty ty-star">
                                    </i>Bài viết liên quan<a href="https://thuongyen.com/tin-tuc/" class="read-all">Xem tất cả <i class="ty ty-angle-right"></i></a>
                                </h3>
                            </div>
                            @if (Model.BodyModel.HotArticles != null)
                            {
                                foreach (var item in Model.BodyModel.HotArticles)
                                {


                                    <div class="col-xs-12 col-md-4">
                                        <div class="post-item">
                                            <a href="@item.Url" class="post-img">
                                                <img width="730" height="410" src="@item.Image" data-lazy-type="image" data-src="@item.Image" class="img-rounded img-fluid img-responsive wp-post-image lazy-loaded" alt="@item.Alt">
                                                <noscript><img width="730" height="410" src="@item.Image" class="img-rounded img-fluid img-responsive wp-post-image" alt="@item.Alt" /></noscript>
                                            </a>
                                            <p class="meta">
                                                <a href="@item.Url" class="text" onclick="ga('send', 'event', 'chi tiết sản phẩm', 'click bài viết', 'bài viết liên quan - 1', {'nonInteraction': 1});">@item.Title</a>
                                                <small class="hidden-sm-down text-muted">@item.Description....</small>
                                            </p>
                                        </div>
                                    </div>
                                }
                            }


                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">

                // 2. This code loads the IFrame Player API code asynchronously.
                var tag = document.createElement('script');

                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                // 3. This function creates an <iframe> (and YouTube player)
                // after the API code downloads.
                var player;
                function onYouTubeIframeAPIReady() {

                    var video_id = document.getElementById("player").getAttribute("videoId");

                    player = new YT.Player('player', {
                        height: '390',
                        width: '640',
                        videoId: video_id, //'an_Q5i5Ul9s'
                        events: {
                            'onReady': onPlayerReady,
                            //'onStateChange': onPlayerStateChange
                        }
                    });
                }

                // 4. The API will call this function when the video player is ready.
                function onPlayerReady(event) {
                    event.target.playVideo();
                }

                // 5. The API calls this function when the player's state changes.
                //    The function indicates that when playing a video (state=1),
                //    the player should play for six seconds and then stop.
                var done = false;
                function onPlayerStateChange(event) {
                    if (event.data == YT.PlayerState.PLAYING && !done) {
                        setTimeout(stopVideo, 6000);
                        done = true;
                    }
                }
                function stopVideo() {
                    player.stopVideo();
                }
            </script>


        </div><!-- .col-full -->
    </div>
    @section scripts{
        <!--Youtube iframe scripts-->
        <script src="https://www.youtube.com/iframe_api"></script>
        <!-- Shopping cart scripts-->
        <script src="~/Content/layout/custom/js/shopping-cart.js"></script>
    }
