﻿@using MainProject.Core.Enums
@using MainProject.Service.Helper
@using MainProject.Framework.Helper
@model MainProject.Service.Models.ViewModel.Home.IndexViewModel
@{
    var DomainName = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    var unitPrice = @ResourceHelper.GetResource(ResourceKeyCollection.UnitPrice, CultureHelper.GetCurrentLanguage());
    var unitPriceOl = @ResourceHelper.GetResource(ResourceKeyCollection.PriceOld, CultureHelper.GetCurrentLanguage());
}
<div id="content" class="site-content">
    <div class="mobile-footer-navbar hidden-md-up">
        @{Html.RenderAction("_ShowMenuMobie", "Home");}
    </div>
    <div class="col-full">
        <div class="content home-page">
            @{
                foreach (var items in Model.SlideShowModel.SlideShowImages.Take(1))
                {
                    <a href="/" class="random-120 "><img width="870" height="312" src="@items.Image" class="w-100 img-fluid" alt="@items.Alt"></a>

                }
            }
            @*<div class="main-values hidden-sm-up">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="list-inline">
                                    <li><i class="fa fa-diamond fa-3x fa-fw fa-color"></i><small>Chọn lọc theo</small><span>Tỉ lệ kim cương</span></li>
                                    <li><i class="fa fa-good fa-3x fa-fw fa-color"></i><small>Hàng giả</small><span>Bồi thường gấp 10</span></li>
                                    <li>
                                        <i class="fa fa-fast fa-3x fa-fw fa-color"></i><small>Thượng phẩm sức khỏe</small><span>
                                            Cam kết <span class="hidden-sm-down">đến tận cùng </span>chất lượng
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>*@


            <div class="content-box content-style-18 hidden-sm-down">
                <div class="container">
                    <div class="row text-center">
                        @{
                            foreach (var items in Model.ListLandingpageItem.ToList())
                            {
                                string icon = "";
                                switch (items.Order)
                                {
                                    case 1:
                                        icon = "fa-thumbs-up";
                                        break;
                                    case 2:

                                        icon = "fa-heart";
                                        break;
                                    case 3:
                                        icon = "fas fa-award";
                                        break;
                                    case 4:
                                        icon = "fa-eye";
                                        break;
                                    default:
                                        icon = "fa-ey";
                                        break;
                                };

                                <div class="col-md-3 item">
                                    <i class="fa fa-fw fa-3x @icon fa-primary-color"></i>
                                    <h6 class="service-heading">@items.Title</h6>
                                    <p class="text-muted"><small>@Html.Raw(items.Description)</small></p>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>


            <div class="content-box content-style-3">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                                            <div class="content-body">
                                                <div class="content-box-heading">
                                                    <h3 class="content-box-title"> <i class="fa fa-icon"> </i>Đẳng Cấp Yến Sào Việt</h3>
                                                </div>
                                                @*<p class="hidden-xs"><em>Từ thuở xa xưa, thật là kỳ diệu, thiên nhiên đã chuẩn bị những món quà tuyệt hảo dành tặng cho con người. Đặc biệt là những phẩm vật tinh hoa của trời đất có lợi cho sức khoẻ, lưu giữ tuổi thanh xuân luôn được khắp thiên hạ trân quý tôn lên hàng thượng phẩm. Một trong những phẩm vật vô giá đó chính là Yến Sào! </em></p>*@
                                                @Html.Raw(Model.Category.Description)
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe src="https://www.youtube.com/embed/@Model.Category.LinkYouTuBe" allowfullscreen="" class="embed-responsive-item"></iframe>
                                                    @*<a href="https://www.youtube.com/watch?v=@Model.Category.LinkYouTuBe" target="_blank"><img src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/thuongyen-youtube-thumbnail.jpg" alt="Thượng Yến - Đẳng Cấp Yến Sào Việt" class="img-rounded w-100"></a>*@
                                                </div>
                                                <p><a href="/gioi-thieu" title="Tìm hiểu thêm" class="btn btn-primary">Tìm hiểu thêm</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="content-box cate-product-box">
                <div class="container">
                    <div class="row">
                        @{
                            int i = 0;
                            int j = 0;
                            <div class="col-xs-12">
                                <h3 class="content-box-title">
                                    <i class="fa fa-nest fa-fw"> </i>@ResourceHelper.GetResource(ResourceKeyCollection.TitleHome1, CultureHelper.GetCurrentLanguage())
                                    <ul role="tablist" class="nav tabs nav-inline pull-xs-right">
                                        @foreach (var item in Model.ListCategory.FindAll(n => n.DisplayTemplate == DisplayTemplateCollection.Child1ProductTemplate))
                                        {
                                            string idTab = '#' + item.SeName;
                                            string active = i == 0 ? "active" : "";
                                            <li class="nav-item"><a data-toggle="tab" href="@idTab" role="tab" class="nav-link btn @active" onclick="ga('send', 'event', 'trang chủ', 'click chọn tab', '@item.Title', {'nonInteraction': 1});"> <span class="hidden-xs">@item.Title </span></a></li>

                                            i = 1;
                                        }
                                    </ul>
                                </h3>
                            </div>
                            <div class="col-xs-12">
                                <div class="tab-content">
                                    @foreach (var item in Model.ListCategory.FindAll(n => n.DisplayTemplate == DisplayTemplateCollection.Child1ProductTemplate))
                                    {
                                        string idTab = item.SeName;
                                        string active = j == 0 ? "active" : "";
                                        <div id="@idTab" role="tabpanel" class="tab-pane @active">
                                            <div class="row">
                                                @foreach (var itemsProduct in Model.ListProduct.Where(n => n.Category.Id == item.Id).Take(6).ToList())
                                                {
                                                    string idpost = "post-" + itemsProduct.Id;
                                                    <div class="col-xs-6 col-md-4 @idpost product type-product status-publish has-post-thumbnail sale shipping-taxable purchasable product-type-simple instock">
                                                        <div class="product-item">
                                                            <a href="@itemsProduct.GetUrl()" class="product-img" onclick="ga('send', 'event', 'trang chủ', 'click view sản phẩm', '@itemsProduct.Name', { 'nonInteraction': 1 });">
                                                                <img width="600" height="600" src="@DomainName/@itemsProduct.ImageDefault" class="img-fluid wp-post-image" alt="@itemsProduct.Name" />
                                                            </a>

                                                            <ul class="product-indicators">
                                                                @{
                                                                    foreach (var partImg in HomeHelper.GetImagesOfProduct(itemsProduct.ImageFolder))
                                                                    {
                                                                        <li href="@DomainName/@partImg" data-toggle="lightbox" data-title="@itemsProduct.Name" data-gallery="@itemsProduct.Id" class="light-box">
                                                                            <img width="180" height="180" src="@DomainName/@partImg" class="img-fluid" alt="@itemsProduct.Name">
                                                                        </li>
                                                                    }
                                                                    if (!string.IsNullOrEmpty(itemsProduct.VideoId))
                                                                    {
                                                                        <li href="https://youtu.be/@itemsProduct.VideoId" data-toggle="lightbox" data-title="@itemsProduct.Name" data-gallery="@itemsProduct.Id" class="light-box">
                                                                            <img src="/Content/style_admin/custom/images/Product-360.jpg" class="img-fluid">
                                                                        </li>

                                                                    }
                                                                }

                                                            </ul>
                                                            <p class="meta">
                                                                <a href="@itemsProduct.GetUrl()" class="text" onclick="ga('send', 'event', 'trang chủ', 'click view sản phẩm', '@itemsProduct.Name', {'nonInteraction': 1});">@itemsProduct.Name</a>
                                                                <span class="price">
                                                                    <span class="market-price">@ResourceHelper.GetResource(ResourceKeyCollection.PriceOld, CultureHelper.GetCurrentLanguage()): @itemsProduct.Price @unitPrice</span>
                                                                    <b>@itemsProduct.PromotionPrice @unitPrice</b>
                                                                </span>
                                                            </p>
                                                            <a class="btn btn-success" onclick="AddToCart('@itemsProduct.Id')" data-quantity="1" data-product_id="53846">@ResourceHelper.GetResource(ResourceKeyCollection.Order, CultureHelper.GetCurrentLanguage())  <i class="fas fa-shopping-cart fa-color" aria-hidden="true"></i><img src="~/Content/style_admin/custom/images/loading.gif" style="display: none"></a>
                                                        </div>
                                                    </div>

                                                }

                                            </div>
                                        </div>
                                        j = 1;
                                    }
                                    <div class="row">
                                        @{

                                            foreach (var items in Model.SlideShowModel.SlideShowImages)
                                            {
                                                if (!items.Alt.Contains("Trang"))
                                                {
                                                    <div class="col-xs-12 col-lg-6"><a href="" class="random-127 promo-banner" onclick="ga('send', 'event', 'trang chủ', 'click banner', '@items.Alt');"><img width="870" height="350" src="@items.Image" class="img-rounded img-fluid" alt="@items.Alt"></a></div>

                                                }

                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>


            <div class="content-box cate-product-box">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="content-box-title">
                                <i class="fa fa-cover fa-fw"> </i>@ResourceHelper.GetResource(ResourceKeyCollection.TitleHome2, CultureHelper.GetCurrentLanguage())
                            </h3>
                        </div>
                        <div class="col-xs-12">
                            <div class="tab-content">
                                @foreach (var item in Model.ListCategory.FindAll(n => n.DisplayTemplate == DisplayTemplateCollection.YenChungTemplate))
                                {

                                    <div id="" role="tabpanel" class="tab-pane active">
                                        <div class="row">
                                            @foreach (var itemsProduct in Model.ListProduct.Where(n => n.Category.Id == item.Id).Take(6).ToList())
                                            {
                                                string idpost = "post-" + itemsProduct.Id;
                                                <div class="col-xs-6 col-md-4 @idpost product type-product status-publish has-post-thumbnail sale shipping-taxable purchasable product-type-simple instock">
                                                    <div class="product-item">
                                                        <a href="@itemsProduct.GetUrl()" class="product-img" onclick="ga('send', 'event', 'trang chủ', 'click view sản phẩm', '@itemsProduct.Name', { 'nonInteraction': 1 });">
                                                            <img width="600" height="600" src="@DomainName/@itemsProduct.ImageDefault" _ShowMenuMobie class="img-fluid wp-post-image" alt="@itemsProduct.Name" />
                                                        </a>

                                                        <ul class="product-indicators">
                                                            @{
                                                                foreach (var partImg in HomeHelper.GetImagesOfProduct(itemsProduct.ImageFolder))
                                                                {
                                                                    <li href="@DomainName/@partImg" data-toggle="lightbox" data-title="@itemsProduct.Name" data-gallery="@itemsProduct.Id" class="light-box">
                                                                        <img width="180" height="180" src="@DomainName/@partImg" class="img-fluid" alt="@itemsProduct.Name">
                                                                    </li>
                                                                }
                                                                if (!string.IsNullOrEmpty(itemsProduct.VideoId))
                                                                {
                                                                    <li href="https://youtu.be/@itemsProduct.VideoId" data-toggle="lightbox" data-title="@itemsProduct.Name" data-gallery="@itemsProduct.Id" class="light-box">
                                                                        <img src="/Content/style_admin/custom/images/Product-360.jpg" class="img-fluid">
                                                                    </li>

                                                                }
                                                            }

                                                        </ul>
                                                        <p class="meta">
                                                            <a href="@itemsProduct.GetUrl()" class="text" onclick="ga('send', 'event', 'trang chủ', 'click view sản phẩm', '@itemsProduct.Name', {'nonInteraction': 1});">@itemsProduct.Name</a>
                                                            <span class="price">
                                                                <span class="market-price">@ResourceHelper.GetResource(ResourceKeyCollection.PriceOld, CultureHelper.GetCurrentLanguage()) @itemsProduct.Price @unitPrice</span>
                                                                <b>@itemsProduct.PromotionPrice @unitPrice</b>
                                                            </span>
                                                        </p>
                                                        <a class="btn btn-success" onclick="AddToCart('@itemsProduct.Id')" data-quantity="1" data-product_id="53846">@ResourceHelper.GetResource(ResourceKeyCollection.Order, CultureHelper.GetCurrentLanguage())  <i class="fas fa-shopping-cart fa-color" aria-hidden="true"></i><img src="~/Content/style_admin/custom/images/loading.gif" style="display: none"></a>
                                                    </div>
                                                </div>

                                            }

                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="content-box client-box">
                <div class="content-box-heading">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="content-box-title"><i class="fa fa-users fa-2x"> </i>@Html.Raw(@ResourceHelper.GetResource(ResourceKeyCollection.FeebbackTitle, CultureHelper.GetCurrentLanguage()))</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="testimonial-box">
                                <div id="carousel-testimonial" data-ride="carousel" class="carousel main-slider slide">
                                    <div role="listbox" class="carousel-inner">
                                        @{
                                            var count = Model.ListFeedback.Count;
                                            foreach (var item in Model.ListFeedback.Take(2))
                                            {
                                                <div class="carousel-item active">
                                                    <div class="single-client-test">
                                                        <div class="client-test-box">
                                                            <div class="client-text-icon"></div>
                                                            <p>@item.Description</p>
                                                        </div>
                                                        <div class="client-text-info">
                                                            <img width="96" height="96" src="@DomainName/@item.ImageDefault" class="attachment-thumbnail size-thumbnail wp-post-image" alt="@item.FullName" />

                                                            <div class="cleint-desc"><span class="tes-name">@item.FullName</span><small class="text-muted">@item.Location</small></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div><ol class="carousel-indicators">
                                        <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-testimonial" data-slide-to="1"></li>
                                        <li data-target="#carousel-testimonial" data-slide-to="2"></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="order-box">
                                <div class="card">
                                    <div class="card-block">
                                        <h4 class="title">@ResourceHelper.GetResource(ResourceKeyCollection.TitleHomeCard, CultureHelper.GetCurrentLanguage())</h4>
                                        <ul class="timeline">
                                            @{
                                                foreach (var items in Model.ListOrder)
                                                {
                                                    var sss = items.OrderTime;
                                                    <li>
                                                        <h6>@ResourceHelper.GetResource(ResourceKeyCollection.Client, CultureHelper.GetCurrentLanguage())<b>"@items.BuyerName" </b>xxxx @items.BuyerPhone.Substring(4, 6) <small class="text-success"><i class="fa fa-ok-circled"></i>@StringHelper.DifferenceTime(items.OrderTime)</small></h6>
                                                        <p><small>@ResourceHelper.GetResource(ResourceKeyCollection.OrderSuccessfully, CultureHelper.GetCurrentLanguage())<a href="" class="btn-link">"@items.Note"</a> @ResourceHelper.GetResource(ResourceKeyCollection.ValueStr, CultureHelper.GetCurrentLanguage()) @items.Amount  </small></p>
                                                    </li>

                                                }
                                            }
                                        </ul>
                                        <p class="text-center"><a href="/san-pham/" title="@ResourceHelper.GetResource(ResourceKeyCollection.SearchProduct, CultureHelper.GetCurrentLanguage())" class="btn btn-primary">@ResourceHelper.GetResource(ResourceKeyCollection.SearchProduct, CultureHelper.GetCurrentLanguage())</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="content-box partnership-box">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-8 offset-md-2">
                            <div class="content-box-heading text-center">
                                <h3 class="content-box-title"><i class="fa fa-award-1"> </i>@Html.Raw(ResourceHelper.GetResource(ResourceKeyCollection.Titlecertificate, CultureHelper.GetCurrentLanguage()))</h3>
                                <p>@ResourceHelper.GetResource(ResourceKeyCollection.Contentcertificate, CultureHelper.GetCurrentLanguage())</p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="partner-box">
                                <div class="row">
                                    @foreach (var item in Model.ListPartners)
                                    {

                                        <div class="col-xs-4 col-md-2"><img width="300" height="225" src="@DomainName/@item.ImageDefault" class="img-fluid w-100" alt="@item.Name"></div>

                                    }
                                </div>

                            </div>
                            <div class="certificate-box">
                                <div class="row">
                                    @foreach (var item in Model.ListCertifications)
                                    {

                                        <div class="col-xs-6 col-md-3">
                                            <a href="@DomainName/@item.ImageDefault" data-toggle="lightbox" data-title="@item.Name" data-gallery="gallery" onclick="ga('send', 'event', 'trang chủ', 'click banner', '@item.Name');"><img width="806" height="1100" src="@DomainName/@item.ImageDefault" class="img-rounded img-fluid w-100" alt="@item.Name"></a>
                                        </div>


                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-box blog-box">
                <div class="container">
                    <div class="video-box">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="content-box-title"><i class="fa fa-star"> </i>@Model.ListArticle35.FirstOrDefault().Category.Title<a href="@Model.ListArticle35.FirstOrDefault().Category.GetPrefixUrl()" class="read-all">@ResourceHelper.GetResource(ResourceKeyCollection.ShowAll, CultureHelper.GetCurrentLanguage()) <i class="fa fa-angle-right"></i></a></h3>
                            </div>
                            @foreach (var item in Model.ListArticle35)
                            {
                                <div class="col-xs-6 col-md-3">
                                    <div class="post-item">
                                        <a href="@item.GetUrl()" class="post-img" onclick="ga('send', 'event', 'trang chủ', 'click bài viết', '@item.Title', {'nonInteraction': 1});">
                                            <img width="730" height="410" src="@DomainName/@item.ImageDefault" data-lazy-type="image" data-src="@DomainName/@item.ImageDefault" class="img-rounded img-fluid img-responsive wp-post-image lazy-loaded" alt="@item.Title">

                                        </a>
                                        <p class="meta"><a href="@item.GetUrl()" class="text" onclick="ga('send', 'event', 'trang chủ', 'click bài viết', '@item.Title', {'nonInteraction': 1});">@item.Title</a></p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div><div class="post-box">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="content-box-title"><i class="fa fa-star"> </i>@Model.ListArticle50.FirstOrDefault().Category.Title<a href="@Model.ListArticle50.FirstOrDefault().Category.GetPrefixUrl()" class="read-all">@ResourceHelper.GetResource(ResourceKeyCollection.ShowAll, CultureHelper.GetCurrentLanguage()) <i class="fa fa-angle-right"></i></a></h3>
                            </div>
                            @foreach (var item in Model.ListArticle50)
                            {
                                <div class="col-xs-12 col-md-4">
                                    <div class="post-item">
                                        <a href="@item.GetUrl()" class="post-img" onclick="ga('send', 'event', 'trang chủ', 'click bài viết', '@item.Title', {'nonInteraction': 1});">
                                            <img width="730" height="410" src="@DomainName/@item.ImageDefault" data-lazy-type="image" data-src="@DomainName/@item.ImageDefault" class="img-rounded img-fluid img-responsive wp-post-image lazy-loaded" alt="@item.Title">

                                        </a>
                                        <p class="meta">
                                            <a href="@item.GetUrl()" class="text" onclick="ga('send', 'event', 'trang chủ', 'click bài viết', '@item.Title', {'nonInteraction': 1});">@item.Title</a>
                                            <small class="hidden-sm-down text-muted">@item.Description</small>
                                        </p>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
@section scripts{
    <!-- Shopping cart scripts-->
    <script src="~/Content/layout/custom/js/shopping-cart.js"></script> 
}
