﻿@model MainProject.Web.Areas.Admin.Models.MenuItem.MenuItemViewModel
@{
    Layout = null;
}

<div class="form-group col-xs-4 nopadding">
    <label>Ngôn ngữ</label>
    @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { @onchange = "changeLanguage(this.value);", @class = "form-control" })
    @Html.ValidationMessageFor(d => d.LanguageSelectedValue)
</div>
<div class="clearfix"></div>
<div class="form-group col-xs-4 nopadding">
    <label>Loại menu</label>
    @Html.DropDownListFor(d => d.MenuSelectedValue, Model.Menus, new { @onchange = "changeMenuType(this.value);", @class ="form-control" })
    @Html.ValidationMessageFor(d => d.MenuSelectedValue)
</div>
<div class="clearfix" ></div>

<div class="form-group col-xs-4 nopadding">
    <label>Menu cha</label>
    @Html.DropDownListFor(d => d.ParentSelectedValue, Model.Parents, new { @class = "form-control" })
    @Html.ValidationMessageFor(d => d.ParentSelectedValue)
</div>
<div class="clearfix"></div>

<script type="text/javascript">
    function changeLanguage(selectedLanguageValue) {
        if (selectedLanguageValue === "") selectedLanguageValue = -1;

        var selectedMenuValue = $('#MenuSelectedValue').val();
        if (selectedMenuValue === "") selectedMenuValue = -1;

        var request = $.ajax({
            url: "/Admin/AdminCommon/GetParentByLanguageMenu?languageId=" + selectedLanguageValue + "&menuId=" + selectedMenuValue,
            type: "GET",
        });
        request.done(function (result) {
            $('#ParentSelectedValue').children().remove();
            $.each(result.Data, function (i, item) {
                $("#ParentSelectedValue").append($('<option></option>').val(item.Value).html(item.Text).attr('selected', item.Selected));
            });
        });
        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    }
    function changeMenuType(selectedMenuValue) {

        if (selectedMenuValue === "") selectedMenuValue = -1;

        var selectedLanguageValue = $('#LanguageSelectedValue').val();
        if (selectedLanguageValue === "") selectedLanguageValue = -1;

        var request = $.ajax({
            url: "/Admin/AdminCommon/GetParentByLanguageMenu?languageId=" + selectedLanguageValue + "&menuId=" + selectedMenuValue,
            type: "GET",
        });
        request.done(function (result) {
            $('#ParentSelectedValue').children().remove();
            $.each(result.Data, function (i, item) {
                $("#ParentSelectedValue").append($('<option></option>').val(item.Value).html(item.Text).attr('selected', item.Selected));
            });
        });
        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    }
</script>
