﻿@{
    Layout = null;
    var currentMenu = "";
    // In case: ITCAdminController TempData["CurrentMenu"] is null
    if (TempData["CurrentMenu"] != null)
    {
        currentMenu = TempData["CurrentMenu"].ToString();
    }
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="/" target="_blank">
                    <i class="fa fa-home"></i> <span>Trang Chủ</span>
                </a>
            </li>
            @if (currentMenu == "ContentGroupAdmin" || currentMenu == "ContentAdmin" || currentMenu == "BehaviorAdmin" || currentMenu == "ContentBehaviorAdmin")
            {
                <li class="treeview active">
                    <a href="javascript:void(0)">
                        <i class="fa fa-database"></i> <span>Nội dung</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (currentMenu == "ContentGroupAdmin")
                        {
                            <li class="active"><a href="/Admin/ContentGroupAdmin"><i class="fa fa-circle-o"></i>Nhóm nội dung</a></li>
                        }
                        else
                        {
                            <li><a href="/Admin/ContentGroupAdmin"><i class="fa fa-circle-o"></i>Nhóm nội dung</a></li>
                        }
                        @if (currentMenu == "ContentAdmin")
                        {
                            <li class="active"><a href="/Admin/ContentAdmin"><i class="fa fa-circle-o"></i>Nội dung</a></li>
                        }
                        else
                        {
                            <li><a href="/Admin/ContentAdmin"><i class="fa fa-circle-o"></i>Nội dung</a></li>
                        }
                        @if (currentMenu == "BehaviorAdmin")
                        {
                            <li class="active"><a href="/Admin/BehaviorAdmin"><i class="fa fa-circle-o"></i>Tác vụ</a></li>
                        }
                        else
                        {
                            <li><a href="/Admin/BehaviorAdmin"><i class="fa fa-circle-o"></i>Tác vụ</a></li>
                        }
                        @if (currentMenu == "ContentBehaviorAdmin")
                        {
                            <li class="active"><a href="/Admin/ContentBehaviorAdmin"><i class="fa fa-circle-o"></i>Nội dung - Tác vụ</a></li>
                        }
                        else
                        {
                            <li><a href="/Admin/ContentBehaviorAdmin"><i class="fa fa-circle-o"></i>Nội dung - Tác vụ</a></li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="treeview">
                    <a href="javascript:void(0)">
                        <i class="fa fa-database"></i> <span>Nội dung</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Admin/ContentGroupAdmin"><i class="fa fa-circle-o"></i>Nhóm nội dung</a></li>
                        <li><a href="/Admin/ContentAdmin"><i class="fa fa-circle-o"></i>Nội dung</a></li>
                        <li><a href="/Admin/BehaviorAdmin"><i class="fa fa-circle-o"></i>Tác vụ</a></li>
                        <li><a href="/Admin/ContentBehaviorAdmin"><i class="fa fa-circle-o"></i>Nội dung - Tác vụ</a></li>
                    </ul>
                </li>
            }

            @if (currentMenu == "UserGroupAdmin" || currentMenu == "UserAdmin")
            {
                <li class="treeview active">
                    <a href="javascript:void(0)">
                        <i class="fa fa-database"></i> <span>Phân quyền Tài khoản</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        @if (currentMenu == "UserGroupAdmin")
                        {
                            <li class="active"><a href="/Admin/UserGroupAdmin"><i class="fa fa-circle-o"></i>Nhóm tài khoản</a></li>
                        }
                        else
                        {
                            <li><a href="/Admin/UserGroupAdmin"><i class="fa fa-circle-o"></i>Nhóm tài khoản</a></li>
                        }
                        @if (currentMenu == "UserAdmin")
                        {
                            <li class="active"><a href="/Admin/UserAdmin"><i class="fa fa-circle-o"></i>Tài khoản</a></li>
                        }
                        else
                        {
                            <li><a href="/Admin/UserAdmin"><i class="fa fa-circle-o"></i>Tài khoản</a></li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="treeview">
                    <a href="javascript:void(0)">
                        <i class="fa fa-database"></i> <span>Phân quyền tài khoản</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Admin/UserGroupAdmin"><i class="fa fa-circle-o"></i>Nhóm tài khoản</a></li>
                        <li><a href="/Admin/UserAdmin"><i class="fa fa-circle-o"></i>Tài khoản</a></li>
                    </ul>
                </li>
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>