﻿@model List<String[]>
@{
    ViewBag.Title = "Quản lý người dùng";
    ViewBag.menuid = "user-manager";
    int index = 1;
}
<!-- CSS files of Setting Index page -->
<!-- DataTables -->
<link rel="stylesheet" href="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.css")">


<!-- JS files of setting index page -->
<!-- DataTables -->
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/style_admin/plugins/datatables/dataTables.bootstrap.min.js")"></script>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Người dùng
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a href="#">Tài khoản</a></li>
        <li class="active">Người dùng</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-xs-12">
            <div class="box">
            <div class="box-body">
                <p>
                    @Html.Raw(TempData["message"])
                </p>
                <div class="form-group col-md-3 nopadding">
                    @Html.ActionLink("Thêm tài khoản", "Create", null, new { @class = "btn btn-block btn-primary btn-lg" })
                </div>
                <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên người dùng</th>
                        <th>Email</th>
                        <th>Quyền hạn</th>
                        <th>Kích hoạt?</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach( var item in Model)
                    {
                        string tagTr = "";
                        if (index % 2 == 0)
                        {
                            tagTr = "even";
                        }
                        else
                        {
                            tagTr = "odd";
                        }
                        <tr class="@tagTr">
                            <td>@index</td>
                            <td>@item[0]</td>
                            <td>@item[1]</td>
                            <td>@Html.Action("GetAllRolesOfUser","UserAdmin",new {username=item[0]})</td>
                            @if(Convert.ToBoolean(item[2])){<td>Active</td>}
                            else{<td>Decommissioning</td>}
                            <td>
                               <a href="/Admin/UserAdmin/Edit?username=@item[0]" class=".btn.btn-app" title="Chỉnh sửa">
                                   <i class="fa fa-edit"></i>
                               </a> 
                                <a href="/Admin/UserAdmin/Delete?username=@item[0]" class=".btn.btn-app" onclick="return confirm('Bạn có muốn xóa không ?')" title="Xóa">
                                   <i class="fa fa-trash-o"></i>
                               </a> 
                            </td>
                        </tr>
                            index++;
                    }
                </tbody>
                </table>
            </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

