﻿@model MainProject.Web.Areas.Admin.Models.LandingpageItem.LandingpageItemViewModel
@{
    Layout = null;
}

<div class="form-group col-xs-4 nopadding">
    <label>Ngôn ngữ</label>
    @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { @onchange = "changeLanguage(this.value);", @class = "form-control" })
    @Html.ValidationMessageFor(d => d.LanguageSelectedValue)
</div>
<div class="clearfix"></div>

<div class="form-group col-xs-4 nopadding">
    <label>Danh mục</label>
    @Html.DropDownListFor(d => d.LanguageGroupSelectedValue, Model.LanguageGroups, new { @class = "form-control" })
    @Html.ValidationMessageFor(d => d.LanguageGroupSelectedValue)
</div>
<div class="clearfix"></div>

<script type="text/javascript">
    function changeLanguage(selectedLanguageValue) {
        if (selectedLanguageValue === "") selectedLanguageValue = -1;

        var request = $.ajax({
            url: "/Admin/AdminCommon/GetLandingpageGroupByLanguage?languageId=" + selectedLanguageValue,
            type: "GET",
        });
        request.done(function (result) {
            $('#LanguageGroupSelectedValue').children().remove();
            $.each(result.Data, function (i, item) {
                $("#LanguageGroupSelectedValue").append($('<option></option>').val(item.Value).html(item.Text).attr('selected', item.Selected));
            });
        });
        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    }
</script>
