﻿@model MainProject.Web.Areas.Admin.Models.LandingpageItem.LandingpageItemViewModel
@{
    ViewBag.Title = "Tạo bài viết landing page";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Bài viết
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Landing page</a></li>
            <li class="active">Bài viết</li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm bài viết</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                      <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">Nội dung</a></li>
                            <li><a href="#tab_2" data-toggle="tab">Hình ảnh</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                @using (Html.BeginForm())
                                {
                                <div class="box-body">
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(x => x.Id)
                                    @Html.HiddenFor(x => x.OriginalValue)
                                    @Html.HiddenFor(x => x.ImageFolder)

                                    @Html.Partial("_LoadLandingpageGroupByLanguage", Model)
                                    <div class="clearfix"></div>
                                    <div class="form-group">
                                        <label>Tiêu đề</label>
                                        @Html.TextBoxFor(d => d.Title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.Title)
                                    </div>
                                    <div class="form-group">
                                        <label>Hình đại diện</label>
                                        @Html.TextBoxFor(d => d.ImageDefault, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(d => d.ImageDefault)
                                    </div>
                                    <div class="form-group">
                                        <label>Mô tả</label>
                                        @Html.TextAreaFor(d => d.Description, new { @class = "form-control ckeditor", style = "min-height: 300px;" })
                                        @Html.ValidationMessageFor(d => d.Description)
                                    </div>
                                    <div class="form-group">
                                        <label>Nội dung</label>
                                        @Html.TextAreaFor(d => d.Content, new { @class = "form-control ckeditor", style = "min-height: 300px;" })
                                        @Html.ValidationMessageFor(d => d.Content)
                                    </div>

                                    <div id="dung-chung">
                                        <div class="form-group">
                                            <label>Link Yotube</label>
                                            @Html.TextBoxFor(d => d.LinkYoube, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.LinkYoube)
                                        </div>
                                        <div class="form-group">
                                            <label>Url</label>
                                            @Html.TextBoxFor(d => d.Url, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.Url)
                                        </div>
                                    </div>

                                    <div id="san-pham">
                                        <div class="form-group">
                                            <label>Hình ảnh sản phẩm</label>
                                            @Html.TextBoxFor(d => d.ImageProduct, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.ImageProduct)
                                        </div>
                                        <div class="form-group">
                                            <label>Kích thước</label>
                                            @Html.TextBoxFor(d => d.Size, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.Size)
                                        </div>
                                        <div class="form-group">
                                            <label>Chất liệu</label>
                                            @Html.TextBoxFor(d => d.Material, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.Material)
                                        </div>
                                        <div class="form-group">
                                            <label>Khói lượng vận chuyển</label>
                                            @Html.TextBoxFor(d => d.MassShip, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.MassShip)
                                        </div>
                                        <div class="form-group">
                                            <label>Khói lượng thực phẩm</label>
                                            @Html.TextBoxFor(d => d.MassFood, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.MassFood)
                                        </div>
                                        <div class="form-group">
                                            <label>Logo danh hiệu </label>
                                            @Html.TextBoxFor(d => d.Logo, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.Logo)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.CheckBoxFor(d => d.IsPublished)
                                        <label>Hiển thị</label>
                                    </div>
                                    <div class="form-group col-xs-2 nopadding">
                                        <label>Thứ tự</label>
                                        @Html.EditorFor(d => d.Order)
                                        @Html.ValidationMessageFor(d => d.Order)
                                    </div>
                                    <div class="clearfix"></div>
                                </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Thêm mới</button>
                                    </div>
                                }
                            </div><!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_2">
                                <iframe name="picturemanager" src="/admin/upload/images?p=@Model.ImageFolder" style="width: 100%; height: 500px; border:none;"></iframe>
                            </div><!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                    </div><!-- nav-tabs-custom -->
                    </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        SetCss();
        //$("#CreateArticleFr").click(function () {
        //    //CKEDITOR.instances.Description.updateElement();
        //    for (instance in CKEDITOR.instances) {
        //        CKEDITOR.instances[instance].updateElement();
        //    }
        //})
        if ($('#Description').length > 0) {
            CKEDITOR.replace('Description', {
                filebrowserBrowseUrl: '@Url.Action("Ckfinder", new { controller = "ITCAdmin", area = "admin" })'
            });
        } if ($('#Content').length > 0) {
            CKEDITOR.replace('Content', {
                filebrowserBrowseUrl: '@Url.Action("Ckfinder", new { controller = "ITCAdmin", area = "admin" })'
            });
        }

        $('#IsPublished').attr('checked', true);

        $("#Order").addClass("form-control");

        $('#LanguageGroupSelectedValue').change(
            function () {
                SetCss();
            }
        )

        function SetCss() {
            if ($('#LanguageGroupSelectedValue').val() == '22') {
                $("#dung-chung").css("display", "none");
                $("#san-pham").css("display", "block");
            }
            else {
                $("#san-pham").css("display", "none");
                $("#dung-chung").css("display", "block");
            }
        }
    });
</script>
