﻿@model MainProject.Web.Areas.Admin.Models.Article.ArticleViewModel
@{
    Layout = null;
}
<div class="form-group col-xs-4 nopadding">
    <label>Ngôn ngữ</label>
    @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { @onchange = "changeParentData(this.value);", @class="form-control" })
    @Html.ValidationMessageFor(d => d.LanguageSelectedValue)
</div>
<div class="clearfix" ></div>

<div class="form-group col-xs-4 nopadding">
    <label>Danh mục cha</label>
    @Html.DropDownListFor(d => d.CategorySelectedValue, Model.Categories, new { @class="form-control" })
    @Html.ValidationMessageFor(d => d.CategorySelectedValue)
</div>
<div class="clearfix" ></div>

<script type="text/javascript">
    function changeParentData(selectedValue) {
        var request = $.ajax({
            url: "/Admin/AdminCommon/GetCategoryArticleByLanguage?id=" + selectedValue,
            type: "GET",
        });
        request.done(function (result) {
            $('#CategorySelectedValue').children().remove();
            $.each(result.Data, function (i, item) {
                $("#CategorySelectedValue").append($('<option></option>').val(item.Value).html(item.Text).attr('selected', item.Selected));
            });
        });
        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    }
</script>
