﻿@model MainProject.Web.Areas.Admin.Models.Permission.AddUserPermissionModel
@{
    Layout = null;
}
<div>
    <span>Người dùng: </span>
    @Html.DropDownListFor(d => d.UserNameSelected, Model.UserNames)
    <span>Ngôn ngữ: </span>
    @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { onchange = "changeParentData(this.value);" })
    <span>Danh mục/Chức năng: </span>
    @Html.DropDownListFor(d => d.ParentSelectedValue, Model.Parents)
    @Html.ValidationMessageFor(d => d.ParentSelectedValue)
    <button type="button" onclick="AddPermissionToUser($('#UserNameSelected').val(), $('#LanguageSelectedValue').val(), $('#ParentSelectedValue').val());">Lưu</button>

</div>
<script type="text/javascript">
    function changeParentData(selectedValue) {
        var request = $.ajax({
            url: "/Admin/PermissionAdmin/GetCategoryByLanague?id=" + selectedValue,
            type: "GET",
        });
        request.done(function (result) {
            $('#ParentSelectedValue').children().remove();
            $.each(result.Data, function (i, item) {
                $("#ParentSelectedValue").append($('<option></option>').val(item.Value).html(item.Text).attr('selected', item.Selected));
            });
        });
        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    }

    function FilterMainList() {
        var request = $.ajax({
            url: "/Admin/PermissionAdmin/GetItems",
            type: "GET"
        });
        request.done(function (result) {
            $('#list_container').html(result);
        });
    }

    function AddPermissionToUser(userName, languageId, cateId) {
        var info = {
            UserName: userName,
            LanguageId: languageId,
            EntityTypeValue: cateId
        };
        $.ajax({
            url: '/Admin/PermissionAdmin/AddPermissionToUser',
            type: 'POST',
            data: JSON.stringify(info),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data.Result == true) {
                    FilterMainList();
                }
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }
    
    changeParentData(@(Model.LanguageSelectedValue));
    FilterMainList();
</script>
