﻿@model MainProject.Web.Areas.Admin.Models.Permission.AddUserPermissionModel
@{
    ViewBag.Title = "Tác vụ của người dùng!";
    ViewBag.menuid = "user-permission";
}
<script type="text/javascript">
    function RemovePermissionToUser(userName, cateId) {
        var info = {
            UserName: userName,
            EntityTypeValue: cateId
        };
        $.ajax({
            url: '/Admin/PermissionAdmin/RemovePermissionToUser',
            type: 'POST',
            data: JSON.stringify(info),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data.Result == true) {
                    FilterMainList();
                }
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }

    function UpdatePermissionToUser(userName, cateId) {
        var isEditor = $('#isEditor_' + cateId).is(':checked');
        var isManager = $('#isManager_' + cateId).is(':checked');
        var info = {
            UserName: userName,
            EntityTypeValue: cateId,
            IsEditor: isEditor,
            IsManager: isManager
        };
        $.ajax({
            url: '/Admin/PermissionAdmin/UpdatePermissionToUser',
            type: 'POST',
            data: JSON.stringify(info),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data.Result == true) {
                    FilterMainList();
                }
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }
</script>

@Html.Raw(string.Format("<script type='text/javascript'>{0}</script>", TempData["message"]))

<h2>@ViewBag.Title</h2>
<div id="container">
    @Html.Partial("_BoxAddUserToPermission", Model)
</div>
<div id="list_container" style="margin-top: 10px;"></div>
