@import "library"
@import "normalize.css"
@import "font.css"
@import "font-icon.css"

.pc
  display: block 

.sp
  display: none 
.mobile-toggle
  // display: none
@media screen and (max-width: 768px)
  .wapper
    padding-top: 80px
  .container
    max-width: 100%
  .breadcrumb
    padding: 0 15px
    li
      font-size: 13px
      a
        padding: 3px 0

  .title_section
    h2
      font-size: 36px
  .phone-call 
    display: block
    bottom: 100px
    right: 90px
  header
    width: 100%
    transition: all 500ms
    background: #fff
    border-bottom: 0.5px solid rgba(51,122,183,1)
    position: fixed
    height: 80px
    z-index: 25
    top: 0
    width: 100%
    background: #fff
    .mobile-toggle
      +position($pos: absolute,$l: 15px,$b: 20px)
      +shape($w: 20px,$h: 20px)
      cursor: pointer
      z-index: 15
      display: block
      .button_toggle
        position: relative
        .line
          +position($pos: absolute, $t: 0, $l: 0)
          +shape($w: 20px,$h: 2px,$bdr: 4px,$bk: #337ab7)
          transition: all 0.25s ease-in-out
          &:nth-child(2)
            top: 6px
          &:nth-child(3)
            top: 12px
        .line-close-1
          -webkit-transform: rotate(45deg) translate(8px, 7px)
          -ms-transform: rotate(45deg) translate(8px, 7px)
          transform: rotate(45deg) translate(8px, 7px)
        .line-close-3
          -webkit-transform: rotate(-45deg) translate(1px, -1px)
          -ms-transform: rotate(-45deg) translate(1px, -1px)
          transform: rotate(-45deg) translate(1px, -1px)
        .line_hidden
          opacity: 0
    .cartMB
      position: absolute
      right: 15px
      bottom: 20px
      z-index: 10
      display: block
      a
        color: #337ab7
    .top_header
      display: none
    .main_header
      
      .ctent_main_header
        display:  block
        .logo
          margin: 0 auto
          margin-top: 5px
          width: 120px
        nav
          border-top: 0.5px solid rgba(51,122,183,1)
          position: absolute
          width: 100%
          height: calc(100vh - 80px)
          top: 74px
          left: -100%
          background: #fff
          transition: all 500ms
          .list_menu
            display: block
            padding-top: 45px
            position: relative
            >li
              padding: 12px 0
              border-bottom: 0.5px solid rgba(51,122,183,1)
              position: relative
              &:last-child
                border-bottom: none
              .arrow_menu_first
                position: absolute
                top: 10px
                right: 10px
                padding: 5px
                display: block
            .search
              position: absolute
              top: 0 
              left: 0
              border-bottom: none
              width: 100%
              form
                margin: 0 auto
                width: 300px
                .form_search
                  input
                    border: solid 1px #337ab7
                    padding: 7px 35px 7px 12px
                    border-radius: 5px
                  .btn_submit
                    right: 5px
            .cart
              display: none
            .product,li
              position: relative
              .subcatemenu,.subcatemenu_nochild 
                position: fixed
                top: 40%
                left: 0
                right: 0
                margin: 0 auto
                opacity: 0
                z-index: 11
                height: 70vh
                overflow-y: scroll
                background: none
                width: 80%
                transition: all 300ms ease-in-out
                transform:  scale(0.8) translateY(-50%)
                visibility: hidden
                .back_to_page
                  font-size: 14px
                  font-style: italic
                  color: #fff
                  padding: 7px 0
                  display: block
                .col_sub_menu 
                  display: block
                  width: auto
                  background: rgba(51,122,183,1)
                  li
                    width: 100%!important
                    display: block
                    padding: 10px 0
                    border-bottom: 0.5px solid #fff
                    p
                      border-bottom: none
                      .arrow_menu_second
                        color: #fff
                        transition: all 500ms ease-in-out
                        padding: 5px
                        top: 0
                      .arrow_mn
                        transform: rotate(90deg)
                    a
                      color: #fff
                    .list_sub_second
                      position: relative
                      display: none
                      padding-left: 0
                      z-index: 12
                      opacity: 1
                      width: 100%
                      li
                        display: block
                        padding: 2px 15px 7px 15px
                        .arrow_menu_second
                          display: block
                          transition: all 500ms ease-in-out
                          position: absolute
                          right: 20px
                          color: #fff
                          padding: 5px
                          top: 0
                        .arrow_mn
                          transform: rotate(90deg)
                        a
                          color: #fff
                        ul
                          display: none
                          li
                            padding: 7px 12px
                            &:before
                              top: 17px
                              left: 0
                            &:last-child
                              border-bottom: none
                        .menu_last_show
                          display: block
                    .list_sub_second_show
                      display: block
                      border-top: 0.5px solid #fff
              .subcatemenu_nochild
                .container
                  .col_sub_menu
                    li
                      padding: 0

              &:hover
                .subcatemenu
                  opacity: unset
              .subcatemenu_block
                opacity: 1!important
                position: fixed
                top: 45%
                transform: scale(1) translateY(-50%)
                z-index: 110!important
                visibility: visible
                // display: none
        .nav_showmenu
          left: 0
  .banner_maincate
    .banner 
      .item_banner
        .img_bn
          img
            min-height: 300px
        .video_bn
          height: 100%
          width: 80%
          top: 60%
          .ct_video
            width: 100%
            height: 75%
            h3
              display: none
            #video_banner
              width: 100%
              height: 100%
              border: solid 5px rgba(51,122,183,0.7)
  footer
    .ctent_footer 
      padding: 0 20px
      .row
        justify-content: center
      .item_footer
        -ms-flex: 0 0 50%
        flex: 0 0 50%
        max-width: 50%
        p
          line-height: 1.6
    .coppy_right
      text-align: center
  #action_mn
    display: none
  .item_product
    -ms-flex: 0 0 50%
    flex: 0 0 50%
    max-width: 50%
  .filter_cate
    justify-content: space-between
    padding: 0 15px
    .item_cate
      margin-bottom: 12px

  #index
    .introduce
      .ctent_introduce
        padding: 0 15px
        .row
          flex-direction: column-reverse
        .text_introduce
          -ms-flex: 0 0 100%
          flex: 0 0 100%
          max-width: 100%
        .slide_intruduce
          -ms-flex: 0 0 100%
          flex: 0 0 100%
          max-width: 100%
    .product_home
      .content_product
        .list_product 
          padding: 0 15px
    .project_home
      .list_project
        padding: 0 15px
        .item_project
          -ms-flex: 0 0 100%
          flex: 0 0 100%
          max-width: 100%
        .left_hot_project
          margin-bottom: 20px
          .ctent_item_project
            display: -ms-flexbox
            display: flex
            -ms-flex-wrap: wrap
            flex-wrap: wrap
            .img_project
              -ms-flex: 0 0 36%
              flex: 0 0 36%
              max-width: 36%
              img
                min-height: 140px
                object-fit: cover
            .txt_project
              -ms-flex: 0 0 64%
              flex: 0 0 64%
              max-width: 64%
              h3
                font-size: 16px
                margin-bottom: 5px
              .day
                display: none
              p
                display: -webkit-box
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                overflow: hidden
                text-overflow: ellipsis
                height: 45px
        .right_item_project
          .ctent_item_project
            .img_project
            .txt_project
              h3
                font-size: 16px
              .day
                display: none
              p
                display: -webkit-box
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                overflow: hidden
                text-overflow: ellipsis
                height: 45px
    .news_home
      padding: 0 60px
      .news_list
        .slick-arrow
          width: 55px
          height: 55px
          border-radius: 50%
          text-align: center
          background: #337ab7
          left: -50px
          line-height: 55px
          font-size: 32px
          color: #fff
        .ic-Arrow-right 
          right: -50px
          left: unset
    .products_detail
      padding: 0 15px
      .slide_detail
        -ms-flex: 0 0 100%
        flex: 0 0 100%
        max-width: 100%
        .row
          flex-direction: column-reverse
        .thum_img
          -ms-flex: 0 0 100%
          flex: 0 0 100%
          max-width: 100%
          padding: 0 25px
          .slick-arrow
            top: 50%
            transform: translateY(-50%)
            left: -15px
            bottom: unset
            margin: unset
          .ic-Arrow-right
            right: -15px
            left: unset
          .item_thum_img
            padding: 0 7px
            img
              height: auto
              border: solid 1px rgba(51,122,183,0.3)
          .slick-current 
            img
              border: solid 1px #337ab7
        .main_img_product
          -ms-flex: 0 0 100%
          flex: 0 0 100%
          max-width: 100%
          padding: 0 25px
          .item_main_image_pd
            img
              height: auto!important
      .imforation_product
        -ms-flex: 0 0 100%
        flex: 0 0 100%
        max-width: 100%
        .content_imfor
          .price
            .price_new
              display: block
              font-size: 20px
            .price_old
              display: block
          .amount
            height: 35px
            .btn
              height: 35px
              padding-top: 0
            input
              height: 35px
          .btncart
            button
              padding: 4px 0 5px 0
              font-size: 16px
          .view_youtube
            height: 35px
      .product_relation_ship 
        .slick-arrow
          left: -45px
          padding-left: 25px
          padding-top: 0
          font-size: 24px
          line-height: 55px
          background: #fff
        .ic-Arrow-right
          padding-right: 25px
          padding-left: 0
          right: -45px
          left: unset
    .list_cate
      .content_list_cate
        padding: 0 15px
        .row
          margin-right: -5px
          margin-left: -5px
          .item_cate
            -ms-flex: 0 0 50%
            flex: 0 0 50%
            max-width: 50%
            padding: 0 5px
            margin-bottom: 10px
            .ctent_item_cate
              .txt_cate
                font-size: 16px
                .see_more_general
                  display: none
          .item_cate_big
            -ms-flex: 0 0 100%
            flex: 0 0 100%
            max-width: 100%
    .contact 
      .row
        flex-direction: column-reverse
      .content_map
        -ms-flex: 0 0 100%
        flex: 0 0 100%
        max-width: 100%
        padding: 0 15px
      .form_contact 
        -ms-flex: 0 0 100%
        flex: 0 0 100%
        max-width: 100%
        padding: 0 15px
      #map
        margin-top: 35px
        height: 350px
    .news_main
      .list_news_main
        padding: 0 15px
        .main_item_top
          .txt_news
            h3
              font-size: 18px
              display: -webkit-box
              -webkit-line-clamp: 2
              -webkit-box-orient: vertical
              overflow: hidden
              text-overflow: ellipsis
              max-height: 60px
            .description
              display: -webkit-box
              -webkit-line-clamp: 2
              -webkit-box-orient: vertical
              overflow: hidden
              text-overflow: ellipsis
              max-height: 130px
            .see_more_general
              margin-top: 15px
        .item_news
          -ms-flex: 0 0 50%
          flex: 0 0 50%
          max-width: 50%
      .detail_news
        padding: 0 15px
      .news_relation
        padding: 0 27px
        .slick-arrow
          left: -12px
          padding-left: 25px
          padding-top: 0
          font-size: 24px
          line-height: 55px
          background: #fff
          width: 55px
          height: 55px
          border-radius: 50%
          -webkit-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.16)
          -moz-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.1)
          box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.16)
        .ic-Arrow-right
          padding-right: 25px
          padding-left: 0
          right: -12px
          left: unset
          text-align: right
    .introduce_page
      .head_intro
        .item_background_intro
          padding: 50px 15px
          .imfor_head_intro
            h3
              font-size: 30px
              &:after
                height: 3px
                bottom: -15px
        .vission
          padding: 50px 15px
        .imfor_head_intro
          -ms-flex: 0 0 100%
          flex: 0 0 100%
          max-width: 100%
          h3
            font-size: 30px
            &:after
        .img_introduce
          -ms-flex: 0 0 100%
          flex: 0 0 100%
          max-width: 100%
          margin-top: 15px
      .txt_intro
    .shopping_cart
      padding: 0 15px
      .change_imfor_cart
        .list_cart
          >.row
            &:first-child
              display: none
            .item
              padding: 0 5px
              &:first-child
                display: none
            .item_name
              padding: 0 12px
              .img
                -ms-flex: 0 0 25%
                flex: 0 0 25%
                max-width: 25%
              .txt
                -ms-flex: 0 0 75%
                flex: 0 0 75%
                max-width: 75%
      .payment
        flex-direction: row-reverse
        .form_payment
        .form
    .solution
      .content_solution
        .list_solution
          padding: 0 10px
          width: 640px
          max-width: 100%
          .item_solution
            padding: 0 10px
            .ctent_item_solution
              a
                padding: 10px 7px
              &:after
                right: -12px
                width: 12px
              &:before
                display: none
            &:nth-child(2n+2)
              .ctent_item_solution
                &:after
                  left: -12px
            &:last-child
              padding: 0 50px
    .langdingpage
      .title_txt 
        h3
          font-size: 20px
      .mini_description
        font-size: 16px
      .process_setup
        .list_process
          justify-content: center
          margin-top: 110px
          .item_process
            -ms-flex: 0 0 100%
            flex: 0 0 100%
            max-width: 75%
            margin-bottom: 135px
            .ct_item_process
              border-top-right-radius: 15px
              border-top-left-radius: 15px
              border-bottom-right-radius: 0
              max-height: auto
              min-height: 225px
              .number
                display: none
              .imfor_txt
                -ms-flex: 0 0 100%
                flex: 0 0 100%
                max-width: 100%
                padding-top: 100px
                padding: 100px 12px 12px
              .imfor_img
                position: absolute
                top: -95px
                left: 0
                right: 0
                width: 190px
                height: 190px
                max-width: unset
                margin: 0 auto
            &:last-child
              margin-bottom: 0
      .type_guarantee
        margin-top: 30px
        .row
          display: block
        .item_guarantee
          width: 420px
          max-width: 90%
          margin: 0 auto
          margin-bottom: 12px
      .advisory 
        .btn_advisory
          .btn
            span
              font-size: 16px
              padding: 12px 5px
      .setup_camera
        .list_image_setup
          display: block
          .item_setup
            width: 500px
            max-width: 90%
            margin: 0 auto
            margin-bottom: 20px
            .ctent_setup
              .img
                img
                  width: 100%
              .txt
                opacity: 1
              &:after
                background: rgba(0,0,0,0.5)
      .guarantee_cemera
        .type_guarantee 
          .item_guarantee
            border-bottom: dashed 1px #337ab7
            padding: 25px 0
      .images_solution
        padding: 0 15px
      .work_type 
        .list_work_type
          .item_work_type
            -ms-flex: 0 0 50%
            flex: 0 0 50%
            max-width: 50%

@media screen and (max-width: 580px)
  #index
    .news_home
      padding: 0 30px
      .news_list
        .slick-arrow
          text-align: right
          left: -45px
          padding-right: 15px
        .ic-Arrow-right 
          right: -45px
          left: unset
          text-align: left
          padding-left: 15px
    .shopping_cart 
      .payment
        flex-direction: column-reverse
        .form_payment
          -ms-flex: 0 0 100%
          flex: 0 0 100%
          max-width: 100%
        .product_buy
          -ms-flex: 0 0 100%
          flex: 0 0 100%
          max-width: 100%
          margin-bottom: 20px
        .form
          -ms-flex: 0 0 100%
          flex: 0 0 100%
          max-width: 100%
@media screen and (max-width: 520px)

@media screen and (max-width: 500px)  


@media screen and (max-width: 480px)
  footer
    .ctent_footer
      .item_footer
        -ms-flex: 0 0 100%
        flex: 0 0 100%
        max-width: 100%
  #index
    .project_home
      .list_project
        padding: 0 15px
        .item_project
        .left_hot_project
          margin-bottom: 20px
          .ctent_item_project
            .img_project
              -ms-flex: 0 0 30%
              flex: 0 0 30%
              max-width: 30%
              img
                min-height: 90px
            .txt_project
              -ms-flex: 0 0 70%
              flex: 0 0 70%
              max-width: 70%
              h3
                font-size: 14px
                display: -webkit-box
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                overflow: hidden
                text-overflow: ellipsis
              .day
                display: none
              p
                height: 40px
                line-height: 1.4
        .right_item_project
          .ctent_item_project
            .img_project
              -ms-flex: 0 0 30%
              flex: 0 0 30%
              max-width: 30%
              img
                min-height: 90px
            .txt_project
              -ms-flex: 0 0 70%
              flex: 0 0 70%
              max-width: 70%
              h3
                font-size: 14px
              .day
                display: none
              p
                height: 40px
                line-height: 1.4
    .products_detail
      .imforation_product
        .content_imfor
          .btncart
            .view_youtube
                width: 100%
                display: block
                margin-top: 20px
                margin-left: 0
    .news_main
      .list_news_main
        padding: 0 15px
        .main_item_top
          .row
            flex-direction: column-reverse
            margin: 0
          .txt_news
            -ms-flex: 0 0 100%
            flex: 0 0 100%
            max-width: 100%
            padding: 10px 10px 25px
            -webkit-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.16)
            -moz-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.1)
            box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.16)
            border: solid 1px rgba(51,122,183,0.1)
          .img_news
            -ms-flex: 0 0 100%
            flex: 0 0 100%
            max-width: 100%
            padding: 0 0
            img
              width: 100%
        .item_news
          -ms-flex: 0 0 100%
          flex: 0 0 100%
          max-width: 100%
          .txt_news
            h3
              font-size: 18px
              display: -webkit-box
              -webkit-line-clamp: 2
              -webkit-box-orient: vertical
              overflow: hidden
              text-overflow: ellipsis
              max-height: 60px
    .shopping_cart
      .change_imfor_cart
        .list_cart
          padding: 0 5px 15px 5px
          >.row
            .item
              font-size: 13px
            .item_name
              padding: 0 5px
              -ms-flex: 0 0 100%
              flex: 0 0 100%
              max-width: 100%
              .img
                -ms-flex: 0 0 100%
                flex: 0 0 100%
                max-width: 100%
              .txt
                -ms-flex: 0 0 100%
                flex: 0 0 100%
                max-width: 100%
            .change_total
              -ms-flex: 0 0 50%
              flex: 0 0 50%
              max-width: 50%
              .txt_total
                display: block
                margin-bottom: 12px
                font-family: 'UTM-AVOBOLD'
              input
                max-width: 100%
            .price_item
              -ms-flex: 0 0 100%
              flex: 0 0 100%
              max-width: 100%
              p
                span
                  display: block
                  font-family: 'UTM-AVOBOLD'
            .final_price
              -ms-flex: 0 0 100%
              flex: 0 0 100%
              max-width: 100%
              margin-top: 12px
              p
                span
                  display: block
                  font-family: 'UTM-AVOBOLD'
    .langdingpage
      .process_setup
        .list_process
          .item_process
            -ms-flex: 0 0 100%
            flex: 0 0 100%
            max-width: 95%
            margin-bottom: 135px
      .advisory 
        .txt_advisory
          padding: 0 15px
        .btn_advisory
          .btn
            span
              font-size: 14px
              min-height: 68px
      .setup_camera
        .list_image_setup
          .item_setup
            .ctent_setup
              .txt
                p
                  display: none
                .see_more_general
                  margin-top: 10px
      .images_solution
        .list_image
          .item_img_solution
            -ms-flex: 0 0 100%
            flex: 0 0 100%
            max-width: 100%

@media screen and (max-width: 425px)
  .item_product
    -ms-flex: 0 0 100%
    flex: 0 0 100%
    max-width: 100%

@media screen and (max-width: 375px)
 
@media screen and (max-width: 320px)
  #index
    .project_home
      .list_project
        padding: 0 35px
        .item_project
        .left_hot_project
          margin-bottom: 20px
          .ctent_item_project
            .img_project
              -ms-flex: 0 0 100%
              flex: 0 0 100%
              max-width: 100%
              img
                min-height: 90px
            .txt_project
              -ms-flex: 0 0 100%
              flex: 0 0 100%
              max-width: 100%
        .right_item_project
          .ctent_item_project
            .img_project
              -ms-flex: 0 0 100%
              flex: 0 0 100%
              max-width: 100%
              img
                min-height: 90px
            .txt_project
              -ms-flex: 0 0 100%
              flex: 0 0 100%
              max-width: 100%
    .langdingpage
      .advisory 
        .btn_advisory
          .btn
            -ms-flex: 0 0 100%
            flex: 0 0 100%
            max-width: 100%
            margin-bottom: 12px

