﻿@{
    ViewBag.Title = "Chỉnh sửa file download";
}
@model MainProject.Web.Areas.Admin.Models.DownloadFile.DownloadFileViewModel

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Files Download
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Nội dung</a></li>
            <li class="active">Fles download</li>
            <li class="active">Chỉnh sửa</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Chỉnh sửa</h3>
                </div><!-- /.box-header -->
                <div class="col-md-12">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">Nội dung</a></li>
                            <li><a href="#tab_2" data-toggle="tab">Hình ảnh</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                @using (Html.BeginForm("Edit", "DownloadFileAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="box-body">
                                        @Html.ValidationSummary(true)
                                        @Html.HiddenFor(x => x.Id)
                                        @Html.HiddenFor(x => x.ImageFolder)
                                        <div class="form-group">
                                            <label>Tên</label>
                                            @Html.TextBoxFor(d => d.Title, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.Title)
                                        </div>
                                        <div class="form-group">
                                            <label>Mô tả</label>
                                            @Html.TextAreaFor(d => d.Description, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.Description)
                                        </div>                                        
                                        <div class="form-group">
                                            <label>File hướng dẫn sử dụng</label>
                                            @if (Model.FilePath != null)
                                            {
                                                <span><a href="/Admin/DownloadFileAdmin/Download?id=@(Model.Id)" class="" title="Tải về">[Download]</a></span><br />
                                            }
                                            <input type="file" name="documentFile" id="documentFile" />
                                            <span style="color:red">Không được tải file vượt quá 4Mb</span>
                                            @Html.ValidationMessageFor(x => x.FilePath)
                                        </div>
                                        <div class="form-group">
                                            <label>Hình đại diện</label>
                                            @Html.TextBoxFor(d => d.ImageDefault, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.ImageDefault)
                                        </div>
                                        <div class="form-group col-xs-2 nopadding">
                                            <label>Thứ tự</label>
                                            @Html.EditorFor(d => d.Order)
                                            @Html.ValidationMessageFor(d => d.Order)
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @Html.CheckBoxFor(d => d.IsPublished)
                                            <label>Hiển thị</label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <!-- Update fields-->

                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                                    </div>
                                }
                            </div><!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_2">
                                <iframe name="picturemanager" src="/admin/upload/images?p=@Model.ImageFolder" style="width: 100%; height: 500px; border:none;"></iframe>
                            </div><!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                    </div><!-- nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.box -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#Order").addClass("form-control");
    });
</script>