﻿
<!--<link href="~/Content/css/nguthien.css" rel="stylesheet" />
<div class="content sale-page nguthien-page">
    <div class="mobile-footer-navbar hidden-md-up active">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="https://thuongyen.com/to-yen/" target="_blank"><i class="ty ty-fw ty-nest color-nest text-primary"></i><span>Tổ Yến</span></a></li>
            <li class="nav-item"><a href="https://thuongyen.com/yen-chung-tuoi/" target="_blank"><i class="ty ty-fw ty-dairy color-dairy text-primary"></i><span>Yến Chưng Tươi</span></a></li>
            <li class="nav-item"><a href="https://thuongyen.com/qua-tang/" target="_blank"><i class="ty ty-fw ty-gift color-gift text-primary"></i><span>Quà Doanh Nghiệp</span></a></li>
            <li class="nav-item"><a><i class="ty ty-fw ty-phone alo-ph-img text-info"></i><span>Gọi cho tôi</span></a></li>
        </ul>
    </div>
    <div class="content-box top-banner">
        <a class="cart-btn btn btn-danger" href="">Giỏ hàng</a>
        <div class="top-header">
            <a href="https://thuongyen.com/">
                <img class="img-fluid w-100 hidden-sm-down lazy-loaded" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien/thuongyen-header-desktop.png" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien/thuongyen-header-desktop.png" alt="Thượng Yến Ngự Thiện"><noscript><img class="img-fluid w-100 hidden-sm-down" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien/thuongyen-header-desktop.png" alt="Thượng Yến Ngự Thiện"></noscript><img class="lazy-hidden img-fluid w-100 hidden-md-up" src="//thuongyen.com/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//thuongyen-header-mobile.png" alt="Thượng Yến Ngự Thiện"><noscript><img class="img-fluid w-100 hidden-md-up" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//thuongyen-header-mobile.png" alt="Thượng Yến Ngự Thiện"></noscript>
            </a>
        </div>-->
        <!-- Edit Banner: https://thuongyen.com/wp-admin/post.php?post=60943&amp;action=edit-->
        <!--<div id="carousel-60943" data-ride="carousel" class="carousel main-slider slide">
            <ol class="carousel-indicators"><li data-target="#carousel-60943" data-slide-to="0" class=""></li><li data-target="#carousel-60943" data-slide-to="1" class=""></li><li data-target="#carousel-60943" data-slide-to="2" class="active"></li><li data-target="#carousel-60943" data-slide-to="3" class=""></li></ol><div role="listbox" class="carousel-inner"><div class="carousel-item"><a href="https://thuongyen.com/ngu-thien" class="random-60943 "><img width="1100" height="602" src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-top-amthucboibo-1.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-top-amthucboibo-1.jpg" class="img-fluid lazy-loaded" alt=""><noscript><img width="1100" height="602" src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-top-amthucboibo-1.jpg" class="img-fluid" alt="" /></noscript></a></div><div class="carousel-item"><a href="https://thuongyen.com" class="random-60943 "><img width="1100" height="602" src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-top-chetamcung-1.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-top-chetamcung-1.jpg" class="img-fluid lazy-loaded" alt=""><noscript><img width="1100" height="602" src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-top-chetamcung-1.jpg" class="img-fluid" alt="" /></noscript></a></div><div class="carousel-item active"><img width="1100" height="602" src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-top-ocotke-1.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-top-ocotke-1.jpg" class="img-fluid lazy-loaded" alt=""><noscript><img width="1100" height="602" src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-top-ocotke-1.jpg" class="img-fluid" alt="" /></noscript></div><div class="carousel-item"><img width="1100" height="602" src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-top-supthatpham-1.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-top-supthatpham-1.jpg" class="img-fluid lazy-loaded" alt=""><noscript><img width="1100" height="602" src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-top-supthatpham-1.jpg" class="img-fluid" alt="" /></noscript></div></div><a href="#carousel-60943" role="button" data-slide="prev" class="left carousel-control"><span aria-hidden="true" class="ty ty-angle-left"></span></a>
            <a href="#carousel-60943" role="button" data-slide="next" class="right carousel-control"><span aria-hidden="true" class="ty ty-angle-right"></span></a>
        </div>
    </div>
    <div class="block-1">
        <div class="content-box voucher-box">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="content-box-heading text-center">
                            <h3 class="content-box-title">Ưu Đãi Đặc Biệt Dành Cho Thượng Khách</h3>
                        </div>
                    </div>
                    <div class="col-xs-6 item"><a href=""><img class="img-rounded img-fluid lazy-loaded" src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-uu-dai-phucloctho.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-uu-dai-phucloctho.jpg" alt="Thượng Yến"><noscript><img class="img-rounded img-fluid" src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-uu-dai-phucloctho.jpg" alt="Thượng Yến"></noscript></a></div>
                    <div class="col-xs-6 item"><a href=""><img class="img-rounded img-fluid lazy-loaded" src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-uu-dai-anokemereview.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-uu-dai-anokemereview.jpg" alt="Thượng Yến"><noscript><img class="img-rounded img-fluid" src="https://thuongyen.com/wp-content/uploads/2020/09/thuongyen-web-ads-banner-uu-dai-anokemereview.jpg" alt="Thượng Yến"></noscript></a></div>
                </div>
            </div>
        </div>
        <div class="content-box feature-box">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="content-box-heading text-center">
                            <h3 class="content-box-title">Thượng Yến - Thượng Phẩm - Thượng Khách</h3>
                            <p>Ăn bổ - Chấm chảy - Nhai dòn</p>
                        </div>-->
                        <!-- Edit: https://thuongyen.com/wp-admin/post.php?post=60946&amp;action=edit -->
                        <!--<div class="list-item  " style="">
                            <div class="post-scroll ps-5">
                                <div class="row">
                                    <div class="col">
                                        <div class="item"><div class="post-img"><img src="https://thuongyen.com/wp-content/uploads/2020/10/minh-nguyet.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/minh-nguyet.jpg" alt="Image" class="lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/minh-nguyet.jpg" alt="Image" class=""></noscript></div><h6 class=""><b>KIM DUNG</b></h6><p>Vậy là hành trình của 2 mẹ con chúng ta sắp hết rồi. Baba bảo tranh thủ tẩm bổ cho 2 mẹ con mình đây. Hôm nay sẽ là Yến chưng, hỏng biết con thích hăm chứ bame ghiền đó. Thố yến chất lượng lắm lắm luôn - thực hư xem hình ảnh nha.</p></div>
                                    </div><div class="col">
                                        <div class="item"><div class="post-img"><img src="https://thuongyen.com/wp-content/uploads/2020/10/minh-nguyet-1.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/minh-nguyet-1.jpg" alt="Image" class="lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/minh-nguyet-1.jpg" alt="Image" class=""></noscript></div><h6 class=""><b>MINH NGUYỆT</b></h6><p>Cuối tuần là khoảng thời gian N dành cho bản thân được thư giãn cũng như bồi bổ sức khỏe sau 1 tuần làm việc mệt mỏi . Tự thưởng cho bản thân 1 thố Yến chưng Tẩm Cung Thượng Yến với thiết kế đẹp bắt đúng điệu hoàng cung.</p></div>
                                    </div><div class="col">
                                        <div class="item"><div class="post-img"><img src="https://thuongyen.com/wp-content/uploads/2020/10/QUYNH-TRAM.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/QUYNH-TRAM.jpg" alt="Image" class="lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/QUYNH-TRAM.jpg" alt="Image" class=""></noscript></div><h6 class=""><b>QUỲNH TRÂM</b></h6><p>Cách đây không lâu Chăm thường bị chóng mặt, suy nhược cơ thể, rất hay ngã bệnh. Thì vô tình biết đến Thượng Yến và đã chọn Thượng Yến để  bồi bổ cơ thể, chăm sóc cơ thể.</p></div>
                                    </div><div class="col">
                                        <div class="item"><div class="post-img"><img src="https://thuongyen.com/wp-content/uploads/2020/10/Thanh-hieu.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/Thanh-hieu.jpg" alt="Image" class="lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/Thanh-hieu.jpg" alt="Image" class=""></noscript></div><h6 class=""><b>THANH HIẾU </b></h6><p>Vẫn cứ nghĩ mình khỏe lắm cho đến ngày mắc vài chập mưa.  Thấy Hiếu bệnh thế là vợ đặt ngay 1 thố THƯỢNG YẾN  về cho chồng tẩm bổ.</p></div>
                                    </div><div class="col">
                                        <div class="item"><div class="post-img"><img src="https://thuongyen.com/wp-content/uploads/2020/10/Linh-Truong.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/Linh-Truong.jpg" alt="Image" class="lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/Linh-Truong.jpg" alt="Image" class=""></noscript></div><h6 class=""><b>LINH TRƯƠNG</b></h6><p>Đang sụt sùi vì thời tiết thì anh xã bảo em thử món này xem. Công nhận ngày mưa thế này mà có thố tổ Yến thì không gì bằng. </p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            var offsetTop = jQuery(".post-content").offset().top;
                            jQuery(window).scroll(function () {
                                var scrollTop = jQuery(window).scrollTop();
                                if (scrollTop > offsetTop) {
                                    jQuery(".show-on-scroll").fadeIn(200);
                                }
                            });
                            jQuery(document).ready(function () {
                                setTimeout(function () {
                                    jQuery(".show-after").fadeIn(200);
                                }, 5000);
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-box video-box">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="content-box-heading text-center">
                            <h3 class="content-box-title">Ngự thiện Video - Kênh Thượng Khách Review Thực Tế</h3>
                            <p>Ngự thiện Video - Kênh Thượng Khách review</p>
                        </div><a class="btn btn-sm" href=""><i class="ty ty-right"></i>Xem toàn bộ</a>
                    </div>
                    <div class="col-xs-12">-->
                        <!-- Edit: https://thuongyen.com/wp-admin/post.php?post=60947&amp;action=edit -->

                        <!--<p class="meta text-center">Liên tục cập nhật video - Trải Nghiệm Thượng Khách</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-2">
        <div class="content-box value-box">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="w-100 img-title lazy-loaded" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//ngu-thien-phong-title.png" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//ngu-thien-phong-title.png" alt="Ngự thiện phòng - Bếp nhà Thượng Yến"><noscript><img class="w-100 img-title" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//ngu-thien-phong-title.png" alt="Ngự thiện phòng - Bếp nhà Thượng Yến"></noscript>
                        <div class="alert alert-danger"><span>Lấy cảm hứng từ gian bếp cung đình (ngự thiện phòng) nơi các (ngự trù) nghệ nhân bếp cho ra đời các món ăn cao lương mỹ vị vô cùng ngon miệng, chủng loại phong phú, tính bổ dưỡng cao dù là cách nấu, cách trình bày đều có yêu cầu cực kì nghiêm khắc, có thể nói tập hợp đủ các thành quả từ cổ chí kim.</span></div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-4 push-sm-1"><img class="img-circle w-100 lazy-loaded" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//nguthien-sanpham-1.png" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//nguthien-sanpham-1.png" alt="Sản phẩm Ngự Thiện"><noscript><img class="img-circle w-100" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//nguthien-sanpham-1.png" alt="Sản phẩm Ngự Thiện"></noscript></div>
                                <div class="col-sm-8">
                                    <div class="meta">
                                        <h3>Đẹp dinh dưỡng</h3>
                                        <p>Nguyên liệu chính món ăn xoay quanh các loại bổ phẩm quý giá mệnh danh bát trân thiên hạ : yến sào, đông trùng hạ thảo, nhân sâm, bào ngư, vi cá, hải sâm, saffron, các loại nấm…nhằm mang lại giá trị bồi bổ tốt nhất dâng lên quý khách hàng - thượng khách.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-4 push-sm-7"><img class="img-circle w-100 lazy-loaded" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//nguthien-sanpham-2.png" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//nguthien-sanpham-2.png" alt="Sản phẩm Ngự Thiện"><noscript><img class="img-circle w-100" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//nguthien-sanpham-2.png" alt="Sản phẩm Ngự Thiện"></noscript></div>
                                <div class="col-sm-8 pull-sm-4">
                                    <div class="meta">
                                        <h3>Đẹp mắt</h3>
                                        <p>Lấy ý tưởng từ “dâng lên món ăn bồi bổ cung đình“ làm lõi trong mọi thiết kế từ bao bì, tạo hình, màu sắc món ăn để thể hiện sự trân trọng giá trị của món ăn bổ dưỡng và mang đến văn hoá thưởng thức “ngự ẩm" đúng nghĩa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-4 push-sm-1"><img class="img-circle w-100 lazy-loaded" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//nguthien-sanpham-3.png" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//nguthien-sanpham-3.png" alt="Sản phẩm Ngự Thiện"><noscript><img class="img-circle w-100" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//nguthien-sanpham-3.png" alt="Sản phẩm Ngự Thiện"></noscript></div>
                                <div class="col-sm-8">
                                    <div class="meta">
                                        <h3>Đẹp bụng (ngon miệng, dễ hấp thụ)</h3>
                                        <p>Các món ăn được các đầu bếp chế biến, thử nghiệm, tiết chế gia vị trong hơn 3 tháng trời để tạo ra 1 món ăn. Sau đó chúng tôi đã mời nhiều người ở nhiều độ tuổi khác nhau nếm thử món và điều chỉnh cách làm, thời gian chế biến, gia giảm gia vị, nguyên liệu nào cho trước, cho sau ... đến khi tất cả đều cảm thấy hợp khẩu vị.</p>
                                        <p>Đồng thời món ăn cũng được tính toán hàm lượng dinh dưỡng, khẩu phần làm sau cho người dùng vừa ngon miệng - vừa dễ hấp thụ nhất để tránh lãng phí, xứng đáng giá trị thực khách bỏ ra.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-box info-box">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 offset-md-1 offset-lg-0 col-lg-6 product-desc">
                        <h3>ẨM THỰC BỒI BỔ CUNG ĐÌNH<span>GIAO TẬn NHÀ  &amp; LÀM QUÀ THĂM BỆNH</span></h3>
                        <p>Khác với các nhà hàng offline theo kiểu truyền thống, Thượng Yến là dịch vụ ẩm thực bồi bổ "bát trân - cung đình" giao tận nhà lấy Online làm nền tảng phát triển mamg đến 3 điều lợi lớn cho "thượng khách".</p>
                        <ul>
                            <li>Hạn chế tiếp xúc xã hội giảm thiểu rủi ro dịch Covid-19.</li>
                            <li>Giảm chi phí món ăn do không tốn chi phí phục vụ tại chỗ, mặt bằng...</li>
                            <li>Thượng Yến hiểu rằng người bệnh cần bồi bổ &amp; cần tĩnh dưỡng nên ngại di chuyển nhưng vẫn phải đảm bảo món luôn được giao NÓNG (dâng lên) và đóng gói đẹp mắt cho cả nhu cầu tặng biếu - thăm bệnh.</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-10 offset-md-1 offset-lg-0 col-lg-6 product-img"><img class="img-rounded img-fluid lazy-loaded" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//trai-nghiem-khach-hang.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//trai-nghiem-khach-hang.jpg" alt="ẨM THỰC BỒI BỔ CUNG ĐÌNH"><noscript><img class="img-rounded img-fluid" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//trai-nghiem-khach-hang.jpg" alt="ẨM THỰC BỒI BỔ CUNG ĐÌNH"></noscript></div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-3">
        <div class="content-box menu-box">
            <div class="section-heading text-center">
                <h3 class="content-box-title">Thực đơn Ngự Yến</h3>
            </div>
            <div class="container">
                <div class="item">
                    <div class="meta">
                        <img class="img-rounded img-fluid lazy-loaded" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//goi-mon-1-title.png" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//goi-mon-1-title.png" alt="Ô cốt kê Lội Tam Trân"><noscript><img class="img-rounded img-fluid" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//goi-mon-1-title.png" alt="Ô cốt kê Lội Tam Trân"></noscript>
                        <p>Gà Ác ngậm trứng non tiềm tổ yến, bào ngư, đông trùng hạ thảo ( tam trân cống vua) với công thức đôc đáo kết hợp cùng các vị thảo mộc là món ăn đặc sản dành thuộc hàng thượng phẩm cho mẹ bầu, người bệnh, suy nhược, cần bồi bổ.</p>
                        <div class="cta-group"><a class="btn btn-danger" href="">Gọi món</a><a class="btn btn-outline-danger" href="">Chi tiết</a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <img class="img-rounded img-fluid lazy-loaded" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//goi-mon-2-title.png" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//goi-mon-2-title.png" alt="Súp Thất Phẩm"><noscript><img class="img-rounded img-fluid" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//goi-mon-2-title.png" alt="Súp Thất Phẩm"></noscript>
                        <p>Súp vi cá, bào ngư, tổ yến, hải sâm, đông trùng hạ thảo, cồi sò điệp Hokaido, tôm hùm Baby. Món ăn này đựợc sáng tạo bởi một vị Hoàng đế nhà Tống từ thế kỷ thứ X với sự biến tấu của bếp nhà Thượng Yến là kết hợp hoà quyện giữa các loại bát trân xưa và nay mang đến giá trị bồi bổ cao, biểu trưng của đẳng cấp, sức khoẻ và sự thịnh vượng.</p>
                        <div class="cta-group"><a class="btn btn-danger" href="">Gọi món</a><a class="btn btn-outline-danger" href="">Chi tiết</a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <img class="img-rounded img-fluid lazy-loaded" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//goi-mon-3-title.png" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//goi-mon-3-title.png" alt="Chè Tẩm Cung"><noscript><img class="img-rounded img-fluid" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//goi-mon-3-title.png" alt="Chè Tẩm Cung"></noscript>
                        <p>Tích xưa truyền rằng, vua Khang Hy nhiều lần tự tay dâng chén chè tổ yến cho Hiếu Khang Chương hoàng hậu để phụng dưỡng mẹ mình mỗi lần người lâm bệnh. Chén chè yến ấy đã trở thành biểu tượng cho sự hiếu thuận của người con, cũng là món cao lương mỹ vị ngự trù dâng lên tẩm bổ vua chúa, cung tần và hiện diện trong các buổi yến tiệc triều thần.</p>
                        <div class="cta-group"><a class="btn btn-danger" href="">Gọi món</a><a class="btn btn-outline-danger" href="">Chi tiết</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-box keys-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title">
                        <img class="img-fluid lazy-loaded" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//ton-chi-3-khong-bg.png" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//ton-chi-3-khong-bg.png" alt="Một món cũng giao &amp;amp; tôn chỉ 3 không"><noscript><img class="img-fluid" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//ton-chi-3-khong-bg.png" alt="Một món cũng giao &amp;amp; tôn chỉ 3 không"></noscript>
                        <div class="star"><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i></div>
                        <p class="text-center">Với khẩu hiệu chắc nịch “1 món cũng giao và tôn chỉ 3 không"  - <b>Thượng Yến </b>mong muốn mang món ăn nâng cao sức khoẻ, giá trị bồi bổ cao cho tất cả mọi khách hàng và xoá bỏ quan niệm “chỉ có người giàu mới ăn được”.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 item">
                            <img class="img-circle lazy-loaded" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//num-01.png" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//num-01.png" alt="01"><noscript><img class="img-circle" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//num-01.png" alt="01"></noscript>
                            <div class="meta">
                                <h5>Không rõ nguồn gốc</h5>
                                <div class="star"><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i></div>
                                <p><small>1 MÓN ĂN BỒI BỔ đầu tiên phải là chất lượng nguyên liệu. Thượng Yến kiểm soát 100% nguyên liệu tự chủ bởi hệ thống nhà nuôi và đối tác cung cấp uy tín - có thương hiệu như: Biofun (đông trùng hạ thảo), Saffron Việt Nam, Hiếu Hải Sản, CPfood,Dalatfood….</small></p>
                            </div>
                        </div>
                        <div class="col-md-4 item">
                            <img class="img-circle lazy-loaded" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//num-02.png" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//num-02.png" alt="02"><noscript><img class="img-circle" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//num-02.png" alt="02"></noscript>
                            <div class="meta">
                                <h5>Không chất bảo quản</h5>
                                <div class="star"><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i></div>
                                <p><small>1 MÓN ĂN BỒI BỔ đúng nghĩa phải mang giá trị tẩm bổ toàn diện cho thực khách. 100% không dùng chất bảo quản để không làm giảm đi dinh dưỡng quý giá, vừa giữ được nguyên bản vị món ăn mà không làm ảnh hưởng sức khoẻ thực khách.</small></p>
                            </div>
                        </div>
                        <div class="col-md-4 item">
                            <img class="img-circle lazy-loaded" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//num-03.png" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//num-03.png" alt="03"><noscript><img class="img-circle" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//num-03.png" alt="03"></noscript>
                            <div class="meta">
                                <h5>Không Tươi</h5>
                                <div class="star"><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i></div>
                                <p><small>1 MÓN ĂN BỒI BỔ phải TƯƠI theo định nghĩa ( TƯƠI = MỚI + NÓNG). Món ăn chỉ được chế biến khi khách đặt món &amp; luôn giao Nóng Hổi tay người nhận, tạo cảm giác dậy vị &amp; kích thích vị giác, giúp người cần bổ bồi làm ấm và ổn định nhiệt cơ thể.</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-4">
        <div class="content-box testimonials-box">
            <div class="section-heading text-center">
                <h3 class="content-box-title">Ngự Ý Thượng Khách - Cảm Nhận Khách Hàng</h3>
            </div>
            <div class="container">-->
                <!-- <div class="item main-item hidden-sm-down">
                  <div class="post-img"><img class="lazy lazy-hidden img-rounded w-100" src="//thuongyen.com/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//cam-nhan-khach-hang.jpg" alt="Cảm nhận khách hàng"><noscript><img class="img-rounded w-100" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//cam-nhan-khach-hang.jpg" alt="Cảm nhận khách hàng"></noscript></div>
                  <div class="meta">
                    <div class="testimonial-desc">
                      <div class="avatar"><img class="lazy lazy-hidden img-circle" src="//thuongyen.com/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://placehold.it/100x100" alt="Avatar"><noscript><img class="img-circle" src="https://placehold.it/100x100" alt="Avatar"></noscript>
                        <div class="star"><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i></div>
                      </div>
                      <p>“Việc hợp tác với các đối tác cấp cao không cho phép tôi đi vào lối mòn với những giỏ quà cồng kềnh, kém tinh tế.</p>
                      <p> <b>Quan điểm của tôi luôn xem trọng giá trị hơn giá cả</b>, cái tôi cần là món quà tặng với thiết kế mẫu mã sáng tạo, biểu đạt được sự trân trọng của tôi dành cho khách hàng”.</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
                      <p class="testimonial-name"> <b>Anh Nguyễn Châu</b><small>Thượng Yến Founder</small></p>
                    </div>
                  </div>
                </div> -->
                <!-- Edit: https://thuongyen.com/wp-admin/post.php?post=60949&amp;action=edit -->
                <!--             [mobileonly][mn-shortcode-html id="60949"][/mobileonly]
                            [desktoponly][/desktoponly]
                            [mn-custom-html id="61055"] -->
                <!--<div class="content-box testimonials-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12"><div class="content-box-heading text-center"><h3 class="content-box-title">Cảm nhận khách hàng</h3></div></div><div class="col-xs-12">
                                <div id="carousel-61087" data-ride="carousel" class="carousel testimonials-slider slide hidden-sm-down testimonials-box">
                                    <div role="listbox" class="carousel-inner">
                                        <div class="carousel-item">
                                            <div class="item main-item">
                                                <div class="post-img"><img src="https://thuongyen.com/wp-content/uploads/2020/11/Kim-Dung-Review.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/11/Kim-Dung-Review.jpg" alt="Nguyễn Huỳnh Kim Dung" class="img-rounded w-100 lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/11/Kim-Dung-Review.jpg" alt="Nguyễn Huỳnh Kim Dung" class="img-rounded w-100"></noscript></div>
                                                <div class="meta">
                                                    <div class="testimonial-desc">
                                                        <div class="avatar">
                                                            <img src="https://thuongyen.com/wp-content/uploads/2020/10/103622482_2118901541589458_3931172597464702510_n.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/103622482_2118901541589458_3931172597464702510_n.jpg" alt="Nguyễn Huỳnh Kim Dung" class="img-circle lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/103622482_2118901541589458_3931172597464702510_n.jpg" alt="Nguyễn Huỳnh Kim Dung" class="img-circle"></noscript>
                                                            <div class="star"><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i></div>
                                                        </div><p>“Thố yến chất lượng lắm lắm luôn - thực hư xem review nha".Ăn tới đâu bổ tới đó luôn ấy, mọi người xem hết video của Jun để xem có như Jun nói không nè. Đặt hàng thì siêu nhanh gọn luôn, đặc biệt sp về tay còn nóng hổi ăn ngay luôn ớ.</p><p></p><p class="testimonial-name"><b>Nguyễn Huỳnh Kim Dung</b><small>Khách Hàng</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="carousel-item">
                                            <div class="item main-item">
                                                <div class="post-img"><img src="//thuongyen.com/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/11/Minh-Nguyet-Review.jpg" alt="Minh Nguyệt" class="lazy-hidden img-rounded w-100"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/11/Minh-Nguyet-Review.jpg" alt="Minh Nguyệt" class="img-rounded w-100"></noscript></div>
                                                <div class="meta">
                                                    <div class="testimonial-desc">
                                                        <div class="avatar">
                                                            <img src="//thuongyen.com/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/minh-nguyet-1.jpg" alt="Minh Nguyệt" class="lazy-hidden img-circle"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/minh-nguyet-1.jpg" alt="Minh Nguyệt" class="img-circle"></noscript>
                                                            <div class="star"><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i></div>
                                                        </div><p>Cảm giác được măm măm Yến chưng tươi nóng hổi nhai dòn dòn thiệt là thích . Đặc biệt Thượng Yến sẽ hoàn 1 đổi 1 nếu mình không vừa ý và được chế biến theo yêu cầu của mỗi người nên không có lý do nào để chế dc cả .</p><p></p><p class="testimonial-name"><b>Minh Nguyệt</b><small>Khách Hàng</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="carousel-item">
                                            <div class="item main-item">
                                                <div class="post-img"><img src="https://thuongyen.com/wp-content/uploads/2020/11/Quynh-Tram-Review.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/11/Quynh-Tram-Review.jpg" alt="Hoàng Quỳnh Trâm" class="img-rounded w-100 lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/11/Quynh-Tram-Review.jpg" alt="Hoàng Quỳnh Trâm" class="img-rounded w-100"></noscript></div>
                                                <div class="meta">
                                                    <div class="testimonial-desc">
                                                        <div class="avatar">
                                                            <img src="https://thuongyen.com/wp-content/uploads/2020/10/QUYNH-TRAM.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/QUYNH-TRAM.jpg" alt="Hoàng Quỳnh Trâm" class="img-circle lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/QUYNH-TRAM.jpg" alt="Hoàng Quỳnh Trâm" class="img-circle"></noscript>
                                                            <div class="star"><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i></div>
                                                        </div><p>Trâm lúc đó muốn ăn liền luôn, thì cầm điện thoại đặt liền không ngờ giao hàng nhanh lắm ạ, và thố yến rất xịn xò và còn nóng hổi, hấp dẫn vô cùng. Đến giờ thì dù bệnh hay không bệnh chỉ cần cơ thể muốn bồi bổ là Trâm chọn ngay Thượng Yến</p><p></p><p class="testimonial-name"><b>Hoàng Quỳnh Trâm</b><small>Khách Hàng</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="carousel-item active">
                                            <div class="item main-item">
                                                <div class="post-img"><img src="https://thuongyen.com/wp-content/uploads/2020/11/Thanh-Hieu-Review.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/11/Thanh-Hieu-Review.jpg" alt="Dương Thanh Hiếu " class="img-rounded w-100 lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/11/Thanh-Hieu-Review.jpg" alt="Dương Thanh Hiếu " class="img-rounded w-100"></noscript></div>
                                                <div class="meta">
                                                    <div class="testimonial-desc">
                                                        <div class="avatar">
                                                            <img src="https://thuongyen.com/wp-content/uploads/2020/10/14462898_768019070007424_423906463561739531_n.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/14462898_768019070007424_423906463561739531_n.jpg" alt="Dương Thanh Hiếu " class="img-circle lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/14462898_768019070007424_423906463561739531_n.jpg" alt="Dương Thanh Hiếu " class="img-circle"></noscript>
                                                            <div class="star"><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i></div>
                                                        </div><p>Quá ưng ngay từ cái nhìn đầu tiên , bao bì rất sang trọng , tổ yến được đựng trong thố bảo quản rất kỹ lưỡng , giao hàng nhanh chóng  , chưa tới 1h đã có ngay 1 thố tổ yến nóng hổi thượng hạng ngay tại nhà.</p><p></p><p class="testimonial-name"><b>Dương Thanh Hiếu </b><small>Khách Hàng</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="carousel-item">
                                            <div class="item main-item">
                                                <div class="post-img"><img src="https://thuongyen.com/wp-content/uploads/2020/11/Ngọc-Linh-Review.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/11/Ngọc-Linh-Review.jpg" alt="Trương Ngọc Linh " class="img-rounded w-100 lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/11/Ngọc-Linh-Review.jpg" alt="Trương Ngọc Linh " class="img-rounded w-100"></noscript></div>
                                                <div class="meta">
                                                    <div class="testimonial-desc">
                                                        <div class="avatar">
                                                            <img src="https://thuongyen.com/wp-content/uploads/2020/11/avata-Ngoc-Linh-.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/11/avata-Ngoc-Linh-.jpg" alt="Trương Ngọc Linh " class="img-circle lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/11/avata-Ngoc-Linh-.jpg" alt="Trương Ngọc Linh " class="img-circle"></noscript>
                                                            <div class="star"><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i></div>
                                                        </div><p>Cả nhà có biết mình đang muốn nói đến món ăn nào không? Đó là Thổ Yến chưng tẩm cung nè. Đang sụt sùi vì thời tiết thì anh xã bảo em thử món này xem. Công nhận ngày mưa thế này mà có thố tổ Yến thì không gì bằng.</p><p></p><p class="testimonial-name"><b>Trương Ngọc Linh </b><small>Khách Hàng</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><a href="#carousel-61087" role="button" data-slide="prev" class="left carousel-control"><span aria-hidden="true" class="ty ty-angle-left"></span></a>
                                    <a href="#carousel-61087" role="button" data-slide="next" class="right carousel-control"><span aria-hidden="true" class="ty ty-angle-right"></span></a><div class="list-item">
                                        <div class="post-scroll ps-5">
                                            <div class="row carousel-indicators">
                                                <div data-target="#carousel-61087" data-slide-to="0" class="item col">
                                                    <div class="post-img"><img src="https://thuongyen.com/wp-content/uploads/2020/10/120913445_340728857181988_3223482001581537920_n.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/120913445_340728857181988_3223482001581537920_n.jpg" alt="Nguyễn Huỳnh Kim Dung" class="img-rounded w-100 lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/120913445_340728857181988_3223482001581537920_n.jpg" alt="Nguyễn Huỳnh Kim Dung" class="img-rounded w-100"></noscript></div>
                                                    <div class="meta">
                                                        <div class="testimonial-desc"><p>“Thố yến chất lượng lắm lắm luôn - thực hư xem review nha". Ăn tới đâu bổ tới đó luôn ấy, mọi người xem hết video của Jun để xem có như Jun nói không nè. Đặt hàng thì siêu nhanh gọn luôn, đặc biệt sp về tay còn nóng hổi ăn ngay luôn ớ.</p><p></p></div>
                                                        <div class="avatar">
                                                            <img src="https://thuongyen.com/wp-content/uploads/2020/10/103622482_2118901541589458_3931172597464702510_n.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/103622482_2118901541589458_3931172597464702510_n.jpg" alt="Nguyễn Huỳnh Kim Dung" class="img-circle lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/103622482_2118901541589458_3931172597464702510_n.jpg" alt="Nguyễn Huỳnh Kim Dung" class="img-circle"></noscript>
                                                            <div class="star"><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i></div>
                                                            <p class="testimonial-name"><b>Nguyễn Huỳnh Kim Dung</b><small>Khách Hàng</small></p>
                                                        </div>
                                                    </div>
                                                </div><div data-target="#carousel-61087" data-slide-to="1" class="item col">
                                                    <div class="post-img"><img src="https://thuongyen.com/wp-content/uploads/2020/10/Khách-hàng-Minh-Nguyệt.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/Khách-hàng-Minh-Nguyệt.jpg" alt="Minh Nguyệt" class="img-rounded w-100 lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/Khách-hàng-Minh-Nguyệt.jpg" alt="Minh Nguyệt" class="img-rounded w-100"></noscript></div>
                                                    <div class="meta">
                                                        <div class="testimonial-desc"><p>Cảm giác được măm măm Yến chưng tươi nóng hổi nhai dòn dòn thiệt là thích . Đặc biệt Thượng Yến sẽ hoàn 1 đổi 1 nếu mình không vừa ý và được chế biến theo yêu cầu của mỗi người nên không có lý do nào để chế dc cả.</p><p></p></div>
                                                        <div class="avatar">
                                                            <img src="https://thuongyen.com/wp-content/uploads/2020/10/minh-nguyet-1.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/minh-nguyet-1.jpg" alt="Minh Nguyệt" class="img-circle lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/minh-nguyet-1.jpg" alt="Minh Nguyệt" class="img-circle"></noscript>
                                                            <div class="star"><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i></div>
                                                            <p class="testimonial-name"><b>Minh Nguyệt</b><small>Khách Hàng</small></p>
                                                        </div>
                                                    </div>
                                                </div><div data-target="#carousel-61087" data-slide-to="2" class="item col">
                                                    <div class="post-img"><img src="https://thuongyen.com/wp-content/uploads/2020/10/Khách-hàng-Quỳnh-Trâm.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/Khách-hàng-Quỳnh-Trâm.jpg" alt="Hoàng Quỳnh Trâm" class="img-rounded w-100 lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/Khách-hàng-Quỳnh-Trâm.jpg" alt="Hoàng Quỳnh Trâm" class="img-rounded w-100"></noscript></div>
                                                    <div class="meta">
                                                        <div class="testimonial-desc"><p>Trâm lúc đó muốn ăn liền luôn, thì cầm điện thoại đặt liền không ngờ giao hàng nhanh lắm ạ, và thố yến rất xịn xò và còn nóng hổi, hấp dẫn vô cùng. Đến giờ thì dù bệnh hay không bệnh chỉ cần cơ thể muốn bồi bổ là Trâm chọn ngay Thượng Yến.</p><p></p></div>
                                                        <div class="avatar">
                                                            <img src="https://thuongyen.com/wp-content/uploads/2020/10/QUYNH-TRAM.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/QUYNH-TRAM.jpg" alt="Hoàng Quỳnh Trâm" class="img-circle lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/QUYNH-TRAM.jpg" alt="Hoàng Quỳnh Trâm" class="img-circle"></noscript>
                                                            <div class="star"><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i></div>
                                                            <p class="testimonial-name"><b>Hoàng Quỳnh Trâm</b><small>Khách Hàng</small></p>
                                                        </div>
                                                    </div>
                                                </div><div data-target="#carousel-61087" data-slide-to="3" class="item col active">
                                                    <div class="post-img"><img src="https://thuongyen.com/wp-content/uploads/2020/10/Ảnh-chụp-Màn-hình-2563-10-08-lúc-19.31.55-copy.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/Ảnh-chụp-Màn-hình-2563-10-08-lúc-19.31.55-copy.jpg" alt="Dương Thanh Hiếu " class="img-rounded w-100 lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/Ảnh-chụp-Màn-hình-2563-10-08-lúc-19.31.55-copy.jpg" alt="Dương Thanh Hiếu " class="img-rounded w-100"></noscript></div>
                                                    <div class="meta">
                                                        <div class="testimonial-desc"><p>Quá ưng ngay từ cái nhìn đầu tiên , bao bì rất sang trọng , tổ yến được đựng trong thố bảo quản rất kỹ lưỡng , giao hàng nhanh chóng  , chưa tới 1h đã có ngay 1 thố tổ yến nóng hổi thượng hạng ngay tại nhà.</p><p></p></div>
                                                        <div class="avatar">
                                                            <img src="https://thuongyen.com/wp-content/uploads/2020/10/14462898_768019070007424_423906463561739531_n.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/14462898_768019070007424_423906463561739531_n.jpg" alt="Dương Thanh Hiếu " class="img-circle lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/14462898_768019070007424_423906463561739531_n.jpg" alt="Dương Thanh Hiếu " class="img-circle"></noscript>
                                                            <div class="star"><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i></div>
                                                            <p class="testimonial-name"><b>Dương Thanh Hiếu </b><small>Khách Hàng</small></p>
                                                        </div>
                                                    </div>
                                                </div><div data-target="#carousel-61087" data-slide-to="4" class="item col">
                                                    <div class="post-img"><img src="https://thuongyen.com/wp-content/uploads/2020/10/Linh-Trương.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/10/Linh-Trương.jpg" alt="Trương Ngọc Linh " class="img-rounded w-100 lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/10/Linh-Trương.jpg" alt="Trương Ngọc Linh " class="img-rounded w-100"></noscript></div>
                                                    <div class="meta">
                                                        <div class="testimonial-desc"><p>Cả nhà có biết mình đang muốn nói đến món ăn nào không? Đó là Thổ Yến chưng tẩm cung nè. Đang sụt sùi vì thời tiết thì anh xã bảo em thử món này xem. Công nhận ngày mưa thế này mà có thố tổ Yến thì không gì bằng.</p><p></p></div>
                                                        <div class="avatar">
                                                            <img src="https://thuongyen.com/wp-content/uploads/2020/11/avata-Ngoc-Linh-.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/uploads/2020/11/avata-Ngoc-Linh-.jpg" alt="Trương Ngọc Linh " class="img-circle lazy-loaded"><noscript><img src="https://thuongyen.com/wp-content/uploads/2020/11/avata-Ngoc-Linh-.jpg" alt="Trương Ngọc Linh " class="img-circle"></noscript>
                                                            <div class="star"><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i><i class="ty ty-star"></i></div>
                                                            <p class="testimonial-name"><b>Trương Ngọc Linh </b><small>Khách Hàng</small></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-5">
        <div class="content-box post-box">
            <div class="container">
                <div class="content-box-heading text-center">-->
                    <!-- 		Tiêu đề block tin tức	 -->
                    <!--<h3 class="content-box-title">Ăn gì cho bổ &amp; mua gì cho hời</h3>
                    <p>Kênh chia sẻ kiến thức bổ ích hằng ngày</p>
                </div>
                <div class="row">
                    <div class="col-md-9">-->
                        <!-- 		Nội dung bài viết lớn, bên trái	 -->
                        <!--<div class="post-item main-item">
                            <a href="https://thuongyen.com/link-bai-viet/" target="_blank">
                                <img class="img-fluid img-rounded lazy-loaded" alt="Ăn gì ông khoẻ bà vui- Bà hàng xóm cũng gật gù”" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//trai-nghiem-khach-hang.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//trai-nghiem-khach-hang.jpg"><noscript><img class="img-fluid img-rounded" alt="Ăn gì ông khoẻ bà vui- Bà hàng xóm cũng gật gù”" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//trai-nghiem-khach-hang.jpg"></noscript>
                            </a>
                            <div class="meta">
                                <a class="text" href="https://thuongyen.com/link-bai-viet/" target="_blank">Ăn gì ông khoẻ bà vui- Bà hàng xóm cũng gật gù</a>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">-->
                        <!-- 		Nội dung 3 bài viết nhỏ, bên phải	 -->
                        <!--<div class="post-item">
                            <a href="https://thuongyen.com/link-bai-viet/" target="_blank">
                                <img class="img-fluid img-rounded lazy-loaded" alt="Ăn gì ông khoẻ bà vui- Bà hàng xóm cũng gật gù”" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//trai-nghiem-khach-hang.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//trai-nghiem-khach-hang.jpg"><noscript><img class="img-fluid img-rounded" alt="Ăn gì ông khoẻ bà vui- Bà hàng xóm cũng gật gù”" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//trai-nghiem-khach-hang.jpg"></noscript>
                            </a>
                            <div class="meta">
                                <a class="text" href="https://thuongyen.com/link-bai-viet/" target="_blank">Ăn gì ông khoẻ bà vui- Bà hàng xóm cũng gật gù</a>
                            </div>
                        </div>

                        <div class="post-item">
                            <a href="https://thuongyen.com/link-bai-viet/" target="_blank">
                                <img class="img-fluid img-rounded lazy-loaded" alt="Ăn gì ông khoẻ bà vui- Bà hàng xóm cũng gật gù”" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//trai-nghiem-khach-hang.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//trai-nghiem-khach-hang.jpg"><noscript><img class="img-fluid img-rounded" alt="Ăn gì ông khoẻ bà vui- Bà hàng xóm cũng gật gù”" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//trai-nghiem-khach-hang.jpg"></noscript>
                            </a>
                            <div class="meta">
                                <a class="text" href="https://thuongyen.com/link-bai-viet/" target="_blank">Ăn gì ông khoẻ bà vui- Bà hàng xóm cũng gật gù</a>
                            </div>
                        </div>

                        <div class="post-item">
                            <a href="https://thuongyen.com/link-bai-viet/" target="_blank">
                                <img class="img-fluid img-rounded lazy-loaded" alt="Ăn gì ông khoẻ bà vui- Bà hàng xóm cũng gật gù”" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//trai-nghiem-khach-hang.jpg" data-lazy-type="image" data-src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//trai-nghiem-khach-hang.jpg"><noscript><img class="img-fluid img-rounded" alt="Ăn gì ông khoẻ bà vui- Bà hàng xóm cũng gật gù”" src="https://thuongyen.com/wp-content/themes/themeyen/assets/images/asset/nguthien//trai-nghiem-khach-hang.jpg"></noscript>
                            </a>
                            <div class="meta">
                                <a class="text" href="https://thuongyen.com/link-bai-viet/" target="_blank">Ăn gì ông khoẻ bà vui- Bà hàng xóm cũng gật gù</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>-->