﻿.txt_input input[type="text"].input-validation-error, .txt_input textarea.input-validation-error,
.txt_input input[type="number"].input-validation-error {
    border: 1px solid red !important;
}
.field-validation-error
{
     color: red !important;
}